[2020-10-05 11:41] CodyBerenson commented on #50
@jph71
Can you look into?  I've tested and am also unable to get this title to match with the GEVI agent.

@joshallen13
In the meantime, the title does match fine using the GayHotMovies agent.  Do you have it selected?

![image](https://user-images.githubusercontent.com/40373801/95074461-a114d180-06dc-11eb-9064-8fe7d2da4210.png)

![image](https://user-images.githubusercontent.com/40373801/95074979

[2020-10-05 11:54] CodyBerenson commented on #49
I find Plex to be rather persnickity.  Everything you're describing is unfortunately how standard Plex functionality works and my experience when rebuilding libraries (porn or otherwise).  I believe Plex's reasoning for only churning on 3 matches at a time is because 1) it doesn't want to crash your processor because of too much multi-threading, and 2) it doesn't want the requests to the indexing

[2020-10-05 12:09] joshallen13 commented on #50
I have all of them selected, but it won't match to it because I don't have it called that, it's named based on the GEVI agent. I've tried to match it based on that name, and the different year it has as well, but didn't prove successful. I wonder if the sort order for the agents has anything to do with the matching not happening.

I got it to finally match on GayDVDEmpire in a test site after reor

[2020-10-05 12:24] CodyBerenson commented on #50
@joshallen13
I'm going to reopen this because the bug you identified in GEVI does still need to be addressed.

Also, for performance, you may want to limit the number of agents you select to just those that you really regularly use.  I discussed that here  https://github.com/CodyBerenson/PGMA-Modernized/issues/49#issuecomment-703582926

[2020-10-05 12:34] joshallen13 commented on #50
Fair enough :)

I'm still getting the hang of using Git. I'm using pornography to slowly teach myself how to code. LOL

[2020-10-05 20:07] j-ktz opened #52 "IAFD has updated their site to HTTPS and broke the agent"
I'm trying to get [(GayRoom.com) - Intimate Rubdown (2013)](https://www.iafd.com/title.rme/title=intimate+rubdown/year=2013/intimate-rubdown.htm) to match with IAFD with no luck.

I've tried:
(GayRoom.com) - Intimate Rubdown (2013)
(Gay Room) - Intimate Rubdown (2013)
(GayRoom) - Intimate Rubdown (2013)
(Massage Bait) - Intimate Rubdown (2013)
(MassageBait) - Intimate Rubdown (2013)
(MassageBait.c

[2020-10-05 21:06] CodyBerenson commented on #52
@j-ktz

How are you our little angel?  We miss you.

with IAFD, match the studio.  so, (MassageBait.com) - Intimate Rubdown (2013) would be the winner....but I can't get it to match either.  *sometimes* you can use the AKA, but not if there's any punctuation in it.

so, if this title were working, you could match either:

(MassageBait.com) - Intimate Rubdown (2013)  *or*
(MassageBait.com) - An Int

[2020-10-05 21:09] j-ktz commented on #52
@CodyBerenson Whoever said I'm an angel LIED. Hope you boys are well and safe! I feel bad, I only chat when I have a problem, haha. I'm always around on social (johnkatez) if you want to say hi 👋

Thanks for troubleshooting @JPH71!

[2020-10-06 02:02] j-ktz commented on #52
@CodyBerenson @JPH71 Wonder if it's an agent issue? Men on Edge usually matches perfectly and neither [(Men on Edge) - Men On Edge 35106 (2014)](https://www.iafd.com/title.rme/title=men+on+edge+35106/year=2014/men-on-edge-35106.htm) or [(Men on Edge) - Men On Edge 26527 (2012)](https://www.iafd.com/title.rme/title=men+on+edge+26527/year=2012/men-on-edge-26527.htm) will match for me.

[2020-10-06 03:32] CodyBerenson commented on #52
@j-ktz agreed, MOE usually matches perfectly as well; and agreed, neither will match for me.

@jph71 here are two more non IAFD matches for you to look into, please.

[2020-10-06 03:41] CodyBerenson commented on #52
@j-ktz @jph71

Nothing seems to be matching on IAFD at the moment.  Perhaps IAFD changed something that broke the agent....?

[2020-10-06 03:43] CodyBerenson commented on #52
@j-ktz @jph71

Even the javascript tool i use to scrape IAFD isn't working.  They must have pushed some sort of change that broke us.  :(

[2020-10-06 03:56] CodyBerenson commented on #52
I figured it out.  They tweeted today that they've changed to https.

![image](https://user-images.githubusercontent.com/40373801/95156982-d1548280-0765-11eb-8184-a23be7538c5d.png)

so, you can either wait for Jason to push new code, or if you are daring, you can make the fix yourself and until the new code comes along.

in the IAFD.bundle/Contents/Code folder, make a copy of the __init__.py file.

[2020-10-07 00:13] JPH71 commented on #52
Made the changes - the change had broke all the agents which used IAFD to
source the cast list and pictures

On Tue, 6 Oct 2020 at 04:56, Cody Berenson <notifications@github.com> wrote:

[2020-10-07 00:16] JPH71 commented on #52
@j-ktz,  @CodyBerenson <https://github.com/CodyBerenson>

(MassageBait) - Intimate Rubdown (2013)  - should work - you can leave out
the .com in the studios.....

I have fixed IAFD - so this should now match.
Happy testing guys

Jason

On Tue, 6 Oct 2020 at 04:43, Cody Berenson <notifications@github.com> wrote:

[2020-10-07 13:01] CodyBerenson commented on #50
Good morning @joshallen13

Jason has made the corrective update to the GEVI agent to cull through a much larger set of results lists.  A common name such as this film returns MANY pages of results lists from GEVI.  The film is found on page 35.  LOL.  Now the agent will cull through up to 50 pages of results to find a match.

I am uploading the fix to the master repository.  This issue will be clo

[2020-10-07 13:04] CodyBerenson commented on #52
@j-ktz
Uploading the updated agents to the master repository now.  I'll close this issue tomorrow.

p.s.  I don't do social media anymore....quit cold turkey on the-day-after-election-day 2016.  Hopefully, in 4 weeks if the country course-corrects, I can reactivate facebook, etc.  in the meantime, jason told me you are in fact an angel-prude.  nice try.

[2020-10-07 14:59] #52 closed

[2020-10-07 16:37] CodyBerenson commented on #50
@joshallen13
I forgot to mention, I tested the fix with the entire series of TIM Fuck movies on GEVI.  100% match.  Cheers.

[2020-10-07 20:46] JPH71 commented on #52
What is an angel prude... Is this an Americanism that I am as yet unaware
off???😆

On Wed, 07 Oct 2020, 16:59 Cody Berenson, <notifications@github.com> wrote:

[2020-10-07 20:55] JPH71 commented on #50
Brilliant!

On Wed, 7 Oct 2020 at 17:37, Cody Berenson <notifications@github.com> wrote:

[2020-10-07 21:18] j-ktz commented on #52
@JPH71 Yes, it is. And I'm no angel! 😆

[2020-10-07 22:59] JPH71 commented on #52
Lol... Being angelic is boring!!

On Wed, 07 Oct 2020, 23:18 j-ktz, <notifications@github.com> wrote:

[2020-10-07 23:15] j-ktz commented on #52
Glad you agree! Join the dark side @JPH71.

[2020-10-08 05:23] JPH71 commented on #52
Being a paid up member since I was 13!

On Thu, 08 Oct 2020, 01:15 j-ktz, <notifications@github.com> wrote:

[2020-10-08 16:24] #50 closed

[2020-10-17 05:56] #48 closed

[2020-10-17 05:57] #43 closed

[2020-10-17 17:05] bkndc commented on #43
Thank you Cody, however that syntax is different than everything else.  And will throw off the process of video naming validation. Cause what I have found is that the video has to have the title and year in the metadata before plex will go get the off the internet if the title is blank and the year then the video is not processed.  Using mp3tag I am able to add the title and year based on the (stu

[2020-10-17 17:29] bkndc commented on #48
If there is no match then the information is populated from the file name but the studio is not populated it ends up in the title and sort field minus the ().  Then you end up with the video title being shown in the library.  Unless I go through and batch a bunch of the movies and add the studio to the Plex meta data field.  Then at least the studio will show up on the screen and I can filter on s

[2020-10-17 19:49] j-ktz commented on #43
@bkndc Can you tell me more about your process using mo3tag? I use collections for Studios and Stars but right now it's a manual process for me. Would love to know how you automated it?

[2020-10-18 00:25] CodyBerenson commented on #43
I’m just explaining how our set of agents work. if you have other means  and tools that work for you other than our agents, terrific.

enjoy.

[2020-10-18 00:40] CodyBerenson commented on #48
HI @bkndc

I've attempted to support your questions by detailing step-by-step explanations on how to use our agents, as well as asking you to provide specifics, which you have not.  The agents that we offer follow the following paradigm:

1.  you identify a specific target on an index site (e.g., GEVI) that you want metadata pulled from
2.  you name the file correctly using **both** (studio) - tit

[2020-10-18 01:02] bkndc commented on #48
You are correct Cody.  And I should have provided the information you requested.  I will do that.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Cody Berenson <notifications@github.com>
Sent: Saturday, October 17, 2020 8:40:49 PM
To: CodyBerenson/PGMA-Modernized <PGMA-Modernized@noreply.github.com>
Cc: Bryan Kidd <bryan@bryankidd.com>; Mention <mention@noreply.g

[2020-11-14 13:41] codeanator commented on #40
Hi...
Began to work on a fork of your agent and found out that Fagalicious is relying on Google Custom Search Engine (CSE) (see : https://developers.google.com/custom-search).
The search is made through a JS and the results are loaded asynchronously. Therefore, the HTML DOM loaded by the agent doesn't contain any result.

I would require extended work to reverse engineer the CSE workflow and see i

[2020-11-15 13:06] JPH71 commented on #40
darned it - no bloody wonder it wasn't working.
Thanks for taking the time to look into this, your help is much appreciated.

KR

Jason

On Sat, 14 Nov 2020 at 13:41, codeanator <notifications@github.com> wrote:

[2020-11-17 04:07] joshallen13 opened #53 "Small edit needed for Error on Usage Guide Wiki"
**Hi gentlemen!**

I noticed an error when going through and showing a friend how to add metadata and wanted to point it out to you for a future update so as to not confuse others.

images/PlexGayMetadataAgents-InstallationandUsageGuide.pdf

Page 16
![Screen Shot 2020-11-16 at 9 42 30 PM](https://user-images.githubusercontent.com/33143443/99339705-a4ab8480-2854-11eb-936c-6d99f7dfa2ef.jpg)

Notice

[2020-11-17 08:08] JPH71 commented on #53
Thank you for this...
That was a good spot!

On Tue, 17 Nov 2020 at 05:08, joshallen13 <notifications@github.com> wrote:

[2020-11-17 08:40] codeanator commented on #40
It seems there is a couple of ways of doing it using Python.
See : https://medium.com/@rifaislamet1509/solved-scraping-all-of-data-from-google-cse-using-python-13d3e6f12413
Or : https://github.com/rakshith36/Google-Custom-Search-Python
Or : https://stackoverflow.com/questions/37083058/programmatically-searching-google-in-python-using-custom-search

[2020-11-17 12:16] CodyBerenson commented on #53
@joshallen13

Greetings, hope this finds you and yours safe and well.  Really appreciate the feedback.  The guide was written either two or three martinis in...so, please don't hesitate to find more typos.  LOL!

Cheers,

Cody

[2020-11-17 15:00] CodyBerenson commented on #40
@codeanator Thank you so much for sharing!  Wanted to let you know that it is truly, truly appreciated....it may take a bit to hear back as @JPH71 is traveling and has very limited availability at the moment.

Merci bien!

[2020-11-17 17:35] #53 closed

[2020-11-17 21:14] JPH71 commented on #40
Thank you so much for this information!!!!!

On Tue, 17 Nov 2020 at 08:40, CodeAnator <notifications@github.com> wrote:

[2020-12-22 00:59] JPH71 commented on #40
@CodeAnator
I looked at the 3 links you posted and so far had no scripting luck

I generated an API key and setup the custom search engine - when I tried
this I got the following error

*{
  "error": {
    "code": 400,
    "message": "API key not valid. Please pass a valid API key.",
    "errors": [
      {
        "message": "API key not valid. Please pass a valid API key.",
        "domain": "gl

[2020-12-25 19:51] JPH71 commented on #2
Done!
With Cody for testing!

[2021-01-08 23:46] CodyBerenson opened #57 "GEVI has updated their site which has broken our Agent from pulling in poster artwork"
Happy New Year Folks!  Jason is working on a fix.  Stand by.

p.s. Jason is also close on a fix to Fagalicious.

[2021-01-08 23:58] j-ktz commented on #57
A 2021 miracle. ✨ Stay safe boys!!! Let me know if you need me to test
on a Mac. 

On January 8, 2021, GitHub <notifications@github.com> wrote:

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/CodyBerenson/PGMA-Modernized/issues/57>, or
unsubscribe <https://github.com/notifications/unsubscribe-
auth/AOEY5RHP62H

[2021-01-09 00:09] JPH71 commented on #57
Hey J-ktz

Hope all is well with you! Happy New Year!

On Fri, 8 Jan 2021 at 23:58, j-ktz <notifications@github.com> wrote:

[2021-01-09 05:21] CodyBerenson commented on #57
The fix has been uploaded to the repository. We will leave this issue open for a day or so to see if anyone in the has feedback. feedback.

[2021-01-09 13:24] j-ktz commented on #57
@JPH71 @CodyBerenson Dream team! I'll download and do some testing. Got lots of new videos to match. 😉

[2021-01-09 15:17] #57 closed

[2021-01-09 15:18] CodyBerenson commented on #57
@j-ktz Thanks Cutie.  Jason made a slight tweak.  Please download the newest version that I just pushed to the repository.

xoxo

[2021-01-30 01:31] mscrawford5 opened #58 "Matching issue"
Ive added your plugins to my plex/plugin folder and have setup the agents in my settings.  However I am unable to match any titles at all. I've tried formatting titles in every way possible and read through your installation guide numerous times and still have no luck.  I'd like to match my scenes based off waybigblog or queerclick but cant seem to match a single scene.  Any clues what I could be

[2021-01-30 01:32] j-ktz commented on #58
Logs and screenshots would help!

On January 30, 2021, GitHub <notifications@github.com> wrote:

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/CodyBerenson/PGMA-Modernized/issues/58>, or
unsubscribe <https://github.com/notifications/unsubscribe-
auth/AOEY5RGMU5WO54IA7RNGYDTS4NOPLANCNFSM4WZZUM3A>.

[2021-01-30 01:36] mscrawford5 commented on #58
[Plex Media Server Logs_2021-01-29_20-29-53.zip](https://github.com/CodyBerenson/PGMA-Modernized/files/5897131/Plex.Media.Server.Logs_2021-01-29_20-29-53.zip)

<img width="542" alt="Screenshot 2021-01-29 203528" src="https://user-images.githubusercontent.com/77306933/106343072-9a086500-6271-11eb-9100-5be74bc6a191.png">

Attached are the logs and an image of what I get every time I try to do a fix

[2021-01-30 04:29] j-ktz commented on #58
We need the plugin logs, not the regular logs. Here's a guide on how to

find them: https://support.plex.tv/articles/201106148-channel-log-files/

If you're trying to match Waybig or Queerclick, make sure to include
those. 

On January 29, 2021, GitHub <notifications@github.com> wrote:

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.

[2021-01-30 05:17] joshallen13 commented on #58
While certainly not my place to make any assumptions on the validity of this issue causation, I was noticing part of the file information has parentheses enclosing the section of the file names that should be open between the studio and the release date. See the photo attached. I would advise trying the match without the parentheses as indicated in the photo grab here.

Hope that helps your taggin

[2021-01-30 05:41] mscrawford5 commented on #58
I appreciate all the help.  New to a lot of things with Plex.  I've tried with the parentheses and without. All with the same results.  I've
 attached a zip version of the logs.
Thanks again
[PMS Plugin Logs.zip](https://github.com/CodyBerenson/PGMA-Modernized/files/5897447/PMS.Plugin.Logs.zip)

[2021-01-30 06:18] mscrawford5 commented on #58
I finally got it work. Thank you for all your help and hard work :)

[2021-01-30 14:26] j-ktz commented on #58
Awesome! Happy to hear. Enjoy. :)

On January 30, 2021, GitHub <notifications@github.com> wrote:

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/CodyBerenson/PGMA-Modernized/issues/58#issuecomment-

770165587>, or unsubscribe
<https://github.com/notifications/unsubscribe-
auth/AOEY5RBSQVYH7J72HRUGKK3S4OQFPANCNFSM4WZZUM3A>.

[2021-01-30 14:42] CodyBerenson commented on #58
Good morning everyone.  What a great community!  Happy New Year to all y'all!

@mscrawford5 Welcome to our agents.   I'm really happy you were able to figure out the match.

Just to completely clarify, in your example above, here is the proper title on WayBig:

![image](https://user-images.githubusercontent.com/40373801/106359025-b8a44580-62dd-11eb-8e1c-6cf383a336aa.png)

With WayBig, no need to c

[2021-02-05 03:29] j-ktz opened #59 "Organization Tips"
Hey Gents,

No bug but just seeking advice. How do you organize your libraries? Right now I have two libraries, one for Porn and one for Amateur/Fan Sites. Then I make Collections for Studios, Stars and Themes I like. Curious of how you all have yours set up?

[2021-02-05 05:55] joshallen13 commented on #59
I have three libraries for adult themed content. I found it to be easiest this way to make sure the agents pull from GEVI for full films, and the scenes I am not as anal on making sure it matches. Feel free to add me to share servers so you can peruse my setup: joshallen13.

I did find a python script on here that can auto create collections based on Studio, and I adjusted it for each studio I wan

[2021-02-05 13:23] j-ktz commented on #59
Thanks Josh! I'm thinking about splitting up my scenes and full films. Also still unsure of how to organize Fan Site content. I added you to see your setup. I've manually done the Studio Collections and made poster artwork for my faves, but the Python script sees way smarter. Going to check it out. Thanks for sharing!

[2021-02-05 17:09] JPH71 commented on #59
I organise mine in this way

For Studios with a large presence, like Falcon, Raging Stallion, Hot House,
Treasure Island Media - I have separate libraries

For all the other smaller Studios which I do not have many films I have
arranged alphabetically into 3 broad groups Studio Names Starting with # -
E, F-P and Q-Z

As I collect and one of these smaller studios film count goes over a number
say 8

[2021-02-05 17:13] j-ktz commented on #59
It is helpful. Thanks Jason!!

On February 5, 2021, GitHub <notifications@github.com> wrote:

[2021-02-05 18:58] j-ktz commented on #59
@joshallen13 Could you attached your modified python script for Studio Collections?

[2021-02-05 19:17] joshallen13 commented on #59
It won't let me attach the script, but here's the modified code below for Treasure Island as a Studio. Make sure you update the config file with your correct Plex library info and token. What I did was just create a new script for each studio I wanted to create and save individually. I'm sure there is a quicker way to do that, but at least I can have it handy for when I need to re-run to add new c

[2021-02-05 19:23] j-ktz commented on #59
@joshallen13 You rock. Thank you!!!

[2021-02-07 19:28] #58 closed

[2021-02-18 13:06] joca879 opened #60 "Scrapper for adult content"
Hello @CodyBerenson, @JPH71, hope you are all well!

I'm sorry for my English, is not very good.

I´ve got some porn content (straight and gay) and recently found plex media server, and love the organization and looks of it. I have a synology nas and start with creating my libraries for the non porn movies and shows, but now i want do to the same with my adult content. Searching in the internet i

[2021-02-18 17:16] CodyBerenson commented on #60
HI @joca879, hope you are well also.

Your English is better than mine.  And I am a native English speaker.  :)

Terrific question.  We don't support data18.  However, some of our Agents' index sites do have extensive straight content and were quickly adapted to work.  I had done this for a buddy of mine.  Two examples that I know work are AEBN and GayDVDEmpire (the straight content is under Adult

[2021-02-18 17:22] JPH71 commented on #60
Hello @Joca879

First of all, I just wanted to say welcome!

The easiest of the scrappers to adapt to get straight content would be
AEBN, and GayDVDEmpire.
I first created the GayDVDEmpire of a straight version...

Here are some straight agents

   1. it seems quite encyclopedic
   https://github.com/PAhelper/PhoenixAdult.bundle - it actually also goes
   through AdultDVDEmpire...
   2. https://gi

[2021-02-18 17:24] CodyBerenson commented on #60
Or, @joca879, just use what I just sent.  Adaption already done for you.  LOL LOL LOL

[2021-02-18 18:16] JPH71 commented on #60
Cheers @Cody!

On Thu, 18 Feb 2021 at 17:24, Cody Berenson <notifications@github.com>
wrote:

[2021-02-18 18:36] joca879 commented on #60
Hello @CodyBerenson ,

I just downloaded and installed the bundle you mentioned and there seems to be an error.
For the 3 movies i tested, it only finds information for 2 of them, altough the 3rd is also in the adultdvdempire site...
for the first two it seems to find the film, but it has no poster and the photos of the actors seem blurred... I can send you a screenshot so that you can see what i

[2021-02-18 18:44] joca879 commented on #60
Hi @JPH71

I've downloaded the bundles you mentioned, and tried them but it seems they don't work for movies. In https://github.com/PhoenixPlexCode I've found a Data18-Phoenix.bundle but it doesn´t work also.

Thanks anyway :)

[2021-02-18 19:16] JPH71 commented on #60
Hi @Joca879

Sorry about that, I had been trying to find the original AdultDVDEmpire
when I stumbled across those ones.
From what I have read it seems that the data18 bundle is broken...

Luckily @Cody had already "Straightened" some of the agents for you to
use...

If you think there are any issues - first clear out the agent logfile...
and match the offending title, then send the log... we can t

[2021-02-18 19:42] CodyBerenson commented on #60
@joca879

Thanks for sending me the screenshots offline.  I am just paranoid that GitHub is going to police inappropriate content.

I've not experienced degradation in image quality as you have in your screenshots.  I'll work with Jason @JPH71  behind the scenes and see what his thoughts are.

Also, I'm not sure if you're aware or if it is important to you.  But Jason built the agents to translate

[2021-02-18 21:06] CodyBerenson commented on #60
@joca879

I tested out the three titles you provided and found the following:

Re: 2 of a Kind

Incorrect:  (Digital Playground) - 2 of a Kind (2010)
Correct:  (Digital Playground) - 2 of a Kind (2017)

Although Adult Empire does list 2010 as the production date, you need to scan down and find the released date (sometimes they are different).  In this case it is 2017, which is what the agent needs

[2021-02-18 21:48] joca879 commented on #60
Translation? That's interesting. How to achieve this?

When I select the agents there's only reference to Byrum and inside it then i can only select AEBN (IFAD)... How can I choose the AdultDVDEmpire?

I'll send to your email screenshots of my configuration so you can see if I'm configuring this right.

Thanks for your and Jason help!

[2021-02-18 22:18] joca879 commented on #60
@CodyBerenson

I rectified the year of the file, but still it does not fetch any data, either with AEBN selected or not... it stays the same as the screenshot that I've send you before.

I must not be configuring something the way it should be...

[2021-02-18 22:30] CodyBerenson commented on #60
based on the screenshot in your email, AdultDVDEmpire isn't installed.

![image](https://user-images.githubusercontent.com/40373801/108429635-3f2db200-720e-11eb-9daa-7a16ffa9aa03.png)

there were three bundles in the zip file above.  Did you copy AdultDVDEmpire.bundle into your plugins directory also?

![image](https://user-images.githubusercontent.com/40373801/108430118-e14d9a00-720e-11eb-9ec4-96

[2021-02-18 22:36] CodyBerenson commented on #60
Sorry, I didn't yet see the screen shot of your agents in the folder structure when I sent the above.  This is what it should look like with AdultDVDEmpire properly loaded:

![image](https://user-images.githubusercontent.com/40373801/108430733-d6473980-720f-11eb-8bc8-dd70cba7e19c.png)

[2021-02-18 22:42] CodyBerenson commented on #60
Joca, I just saw that GayDVDEmpire (which AdultDVDEmpire is copied from) isn't appearing in your GayAdultFilms agents.

@JPH71 do you have any troubleshooting ideas why GayDVDEmpire isn't showing up in his GayAdult list?  What can he do to fix?

![image](https://user-images.githubusercontent.com/40373801/108431162-85841080-7210-11eb-8625-1d9966e52326.png)

![image](https://user-images.githubuserco

[2021-02-18 22:55] joca879 commented on #60
@CodyBerenson

My bad! For some reason it didn't copy the GayDVDEmpire to the plugins folder.
I'll stop the plex server, copy all the bundles inside again, and reboot. Let's see if that resolves the problem!
Thank you for your guidance and patience :)

[2021-02-18 23:11] CodyBerenson commented on #60
Hmmm....are you sure?  It is there listed in your directory.....

@JPH71 :  I've done more testing, and confirmed what our new friend Joca pointed out.  AEBN isn't fetching posters....on the straight or gay side.  The behavior has changed when you click on a poster.  it no longer gives any of the image options (copy, copy link, view, etc.).  AEBN has definitely broken our agent.  I'll open a new I

[2021-02-18 23:12] CodyBerenson opened #61 "AEBN has updated their site and broken Poster Fetching"
@JPH71:

AEBN has made an update to their site which has broken our agent's ability to fetch poster art.

[2021-02-18 23:37] JPH71 commented on #61
I will look at it next!

On Thu, 18 Feb 2021 at 23:12, Cody Berenson <notifications@github.com>
wrote:

[2021-02-18 23:42] joca879 commented on #60
@CodyBerenson

After copying all the bundles again to the plugins folder and restarting plex, GayDVDEmpire and AdultDVDEmpire both appear in the agents settings. I´ve send you some new screesnshots by email.

I've tested AdultDVDEmpire, but it doesn´t fetch anything at all, maybe it's broken :(

[2021-02-18 23:56] CodyBerenson commented on #60
all three match perfectly for me using AdultDVDEmpire.

The agent automatically updates the tagline field when it makes a match.

![image](https://user-images.githubusercontent.com/40373801/108437200-d8fb5c00-721a-11eb-986c-c13ebe3de35c.png)

Remember that the filenames may be different from one agent to another.  Specifically, the following filenames are good with the AdultDVDEmpire agent:

(Play

[2021-02-19 03:28] CodyBerenson commented on #61
Turns out GEVI's update a little bit ago broke the agent from returning higher quality posters as well.

[2021-02-19 03:48] CodyBerenson commented on #60
Jago, Jason made fixes to the posterart for both GEVI and AEBN.  You can download the latest code from the repository.  Stop your PMS.  Copy the code to the plugins folder.  Restart your PMS.

If you FixMatch your GEVI titles, you should see better quality poster art available.  I'll adapt the fixes Jason made to the Gay AEBN and post in a moment.

[2021-02-19 08:21] JPH71 commented on #61
They have completely hid the links to the high quality photos... the mouse
over image you see I think is javascript......

On Fri, 19 Feb 2021 at 03:29, Cody Berenson <notifications@github.com>
wrote:

[2021-02-19 09:15] joca879 commented on #60
@CodyBerenson

I'll try and see if it works. Thank you both!

[2021-02-19 10:49] JPH71 commented on #60
you are welcome....

There were some issues with the translation a number of weeks back and I
have not managed to look into it...

When you create a Library make sure that its Language is set to Portuguese,
then when you add movies, it will show the summary in Portuguese.

Give it a go and let me know, then I will update the language routine.

Jason xx

On Fri, 19 Feb 2021 at 09:16, joca879 <notif

[2021-02-19 13:27] joshallen13 commented on #61
Doesn't pertain to AEBN, but is related so this is where I wanted to put this as a suggestion for my interpretation of this issue.
Keep in mind, I'm new to python and how this all works, but my understanding of Front-End HTML and Javascript lands me here to share what I think is a fix for GEVI.

This was in the news feed from the GEVI main page I saw recently because I noticed the poor quality as

[2021-02-19 13:35] CodyBerenson commented on #61
Thanks @joshallen13 !  Hope you are doing well....

Kudos!  I believe you're deduction is spot-on correct.  Jason identified the same root cause last night and we pushed the fixes to both AEBN and GEVI late last night.

You rock!

[2021-02-19 13:42] joshallen13 commented on #61
OMG I might print that out and hang it on the fridge like my mom used to do back in elementary school.
I am pushing the update now as I hadn't yet done so when I was doing the research to support my theory. I was really hoping that I had found something that you guys might have missed, but y'all are on top of it!

You guys rock for keeping so on top of the agents breaking randomly!

[2021-02-19 13:44] CodyBerenson commented on #60
@joca879

1.  Re: AEBN (the straight version) no posters, here is the fix.  Extract, copy all to your plug-ins folder, stop PMS, restart PMS, rescan/fix-match.
[AEBN.bundle.zip](https://github.com/CodyBerenson/PGMA-Modernized/files/6010358/AEBN.bundle.zip)

2.  Re: AdultDVDEmpire, we have folks that use our agents on a wide variety of platforms.  I do use Windows, but also FreeNAS/FreeBSD.  I don'

[2021-02-19 15:28] CodyBerenson commented on #61
@joshallen13

I'm probably not telling you something you don't already know....but that's the magic of github.  you can create your own branch, tweak/learn/experiment to your hearts content, your previous versions are there in case you muck something up and need to revert, and offer back improvements you may come up with!  That's how Jason and I met.  There was a little-maintained site of agents..

[2021-02-19 15:29] joca879 commented on #60
@CodyBerenson

Thanks for the instructions, I'll try and test it as soon I can and report to you the results :)

Cheers,

Joca

[2021-02-19 15:29] JPH71 commented on #61
Dear Josh, - @joshallen13

I was struggling to find how to get to the original urls - luckily @Cody is
a log file hoarder and i noticed the Icons/ in the urls made it all
different - so after stripping them it went back to normal....

but thanks for showing me how to find the pesky URLs behind the code...

Jason xxx

On Fri, 19 Feb 2021 at 13:27, joshallen13 <notifications@github.com> wrote:

[2021-02-19 15:31] JPH71 commented on #60
@CodyBerenson/HeadScratching
<reply@reply.github.com>

moving onto DVDGayEmpire and GayHotMovies Next....

On Fri, 19 Feb 2021 at 13:45, Cody Berenson <notifications@github.com>
wrote:

[2021-02-19 15:32] JPH71 commented on #61
Hear. Hear!

On Fri, 19 Feb 2021 at 15:29, Cody Berenson <notifications@github.com>
wrote:

[2021-02-19 15:32] CodyBerenson commented on #61
@JPH71
LOL....that @ isn't me.

[2021-02-19 16:29] CodyBerenson commented on #60
@joca879

Jason made a slight tweak to the actors logic in AEBNiii.  Here is the straight version:

[AEBN.bundle.zip](https://github.com/CodyBerenson/PGMA-Modernized/files/6011414/AEBN.bundle.zip)

Cheers

[2021-02-20 00:12] joca879 commented on #60
@CodyBerenson @JPH71

Hello guys
I haven't had much time to test yet, but I can already report something

as soon as I replace the bundle in the plugins with this new one, it is no longer available for selection at the agents, only the AdultDVDEmpire appears. Finally it looks like I got AdultDVDEmpire up and running :)

With the new PGMA bundle that I downloaded, when choosing the AEBN the posters

[2021-02-20 00:28] JPH71 commented on #60
@Joca87 @Cody

I am at the moment going through the agents and updating them so that they
get more from the iafd site.

a normal film is formatted as (Studio) - Title (Year).ext

If the movie is on IAFD but under a different Studio as sometimes happens
you can do this now (Studio*;IAFDStudio*) - Title (Year)

Every time the new style agents detect an "-" in the title, they assume
that the film may

[2021-02-20 13:22] j-ktz commented on #39
Hey Boys!

It looks like Fagalicious updated their search functionality again. Not search if this will help or hurt our broken agent but wanted to make you both aware! @CodyBerenson @JPH71

[2021-02-20 14:37] CodyBerenson commented on #39
Hey @j-ktz!

You're right!  no more google like search results.  @JPH71 check it out!

[2021-02-20 16:31] JPH71 commented on #39
The cheeky Heifers!

I will look into it next - just finished updating GayHotMovies and
AVEntertainments

Will bundle everything together when I send them, if I make a change to
either iafd.py or genfunctions.py, I would like them all updated in all the
agents. In case of any error one is singing from the same hymn sheet...

Jason xxx

On Sat, 20 Feb 2021 at 14:37, Cody Berenson <notifications@git

[2021-02-20 16:46] JPH71 commented on #60
@Joca87 AVEntertainments is also a good site for Straight Porn - I will be
sending it to @Cody later on today.

On Sat, 20 Feb 2021 at 00:28, Jason Hudson <jp.hudson@gmail.com> wrote:

[2021-02-20 17:00] joca879 commented on #60
@JPH71
  Thanks!
I don't want to bother you, but do you happen to know what the error will be for this version that Cody has posted in the previous coments

of AEBN (straight) not associating with this AEBN bundle?

When I replace this AEBN bundle with the previous one, it stops appearing in the Byrum agents to choose... strange

[2021-02-20 17:32] JPH71 commented on #60
@joca879

You have to amend the following line and say it contributes to Byrum

    contributes_to = ['com.plexapp.agents.GayAdult',
'com.plexapp.agents.GayAdultFilms']

should be something like

    contributes_to = ['com.plexapp.agents.Byrum']

Hope this helps.

It looks like @Cody has handled the renaming of the agent so that it's not
called AEBNiii - they have to have separate names to run on

[2021-02-20 19:57] CodyBerenson commented on #60
Yes!  it was late at night after a couple of vodka martinis.  I forgot to update the contributes to piece.

@joca879 were you able to update the code and get the straight AEBN to work?

[2021-02-20 20:10] CodyBerenson commented on #39
@JPH71

I tested a title on Fagalicious with the old code currently in our repository.  It didn't match, but I'm not sure why.  The search result should have returned the match (it did when i manually used the search result in the log), but the log said 0.

it would be EXCELLENT if Fagalicious could work again.  Can we treat this as the priority?

[com.plexapp.agents.Fagalicious.log](https://githu

[2021-02-20 20:12] j-ktz commented on #39
Darn I was hoping it would work but hadn’t tried yet. Thanks for testing @CodyBerenson  @JPH71 if you can get Fagalicous working again I owe you a big kiss!

[2021-02-20 20:38] CodyBerenson commented on #39
That incentive from you will help reel in his focus.  Nothing I say does any good.  ;)

[2021-02-20 20:40] j-ktz commented on #39
@CodyBerenson LOL. Doubt that. You can get one too. :)

[2021-02-20 21:28] JPH71 commented on #39
Biatch! You both begging for a left arse cheek slap! Not that I am
complaining .... LOL

On Sat, 20 Feb 2021 at 20:40, j-ktz <notifications@github.com> wrote:

[2021-02-20 21:29] JPH71 commented on #39
I am starting on it now!

On Sat, 20 Feb 2021 at 21:28, Jason Hudson <jp.hudson@gmail.com> wrote:

[2021-02-20 21:30] JPH71 commented on #39
Could one of you two send me a log... so i can identify where it is failing
on the old code... and I can implement a fix quicker!

On Sat, 20 Feb 2021 at 21:28, Jason Hudson <jp.hudson@gmail.com> wrote:

[2021-02-20 21:34] CodyBerenson commented on #39
LOL.  Its three entries up in this thread.

https://github.com/CodyBerenson/PGMA-Modernized/issues/39#issuecomment-782742385

[2021-02-20 21:40] CodyBerenson commented on #39
@j-ktz see what I mean about focus?    LOL LOL LOL

[2021-02-20 21:48] j-ktz commented on #39
@JPH71 @CodyBerenson Sorry not sorry. 😂

[2021-02-20 21:52] CodyBerenson commented on #39
Me thinks someone is snockered again.  Speaking of, its already after 4...why am I drinking water?  Be right back.  LOL.

[2021-02-20 21:53] j-ktz commented on #39
PGMA after dark. 🌙 Cheers boys!

[2021-02-20 21:57] joca879 commented on #60
@CodyBerenson @JPH71

Hello guys!
I'm a newbie in terms of programming but with the indication of Jason I've managed to rectify it.
It's already working :)
Thank you both for your time and patience

Joca

[2021-02-21 02:13] JPH71 commented on #39
Nearly done with fagalicious!

its 03h15 here and it's oh so quiet! Brilliant

Jason

On Sat, 20 Feb 2021 at 21:54, j-ktz <notifications@github.com> wrote:

[2021-02-21 02:14] JPH71 commented on #60
Bom!

by the way if you find any websites that contain film data than I can
scrape let me know

Jason

On Sat, 20 Feb 2021 at 21:58, joca879 <notifications@github.com> wrote:

[2021-02-21 02:33] CodyBerenson commented on #39
take your time. im watching the Spain ESC 2021 selection (TVE in the USA is delayed).  Per usual, it will be crap. But better than the UK.

question:  spending so much time in Belgium, do you align yourself with them in the ESC?  Their entries are typically quite good vs Spain or the UK. lol

[2021-02-21 02:44] JPH71 commented on #39
I got pissed off with Eurovision and the effing Russians and their
sycophants in the east ... it has become a regional; thing... people no
longer vote for the best song but from the closest country...

After the middle east shenanigans where we helped with the invasion and
bitch slapping of Sadam - we never get any votes in the UK... I can
understand that as Eurovision has always been used as a pr

[2021-02-21 15:26] CodyBerenson commented on #39
@JPH71
Here's the problem with that argument.  And I hear that argument from so many Spaniard and UK folks.  Western countries nearly always win.  Azerbaijan won a few years back, and the Ukraine (very much an anti Russia vote).  But by and large, Western countries win.  They have an entire algorythm for which countries participate in each semi finals and which countries are allowed to vote in eac

[2021-02-21 15:31] CodyBerenson commented on #39
@j-ktz @JPH71

I tested the fix to Fagalicious.  20 out of 20 test titles matched perfectly.  I'm going to push it to the repository so we can close this long standing bug once and for all!

@j-ktz Jason is waiting for his long and very sloppy kiss.  Pay up!

[2021-02-21 15:53] joca879 commented on #60
@JPH71

Ok, if I find any I'll let you know :)

Joca

[2021-02-21 16:46] JPH71 commented on #39
The British entries are always so shit and the guys they pick to represent
have faces begging for a slap... I hear they changed the voting system a
year or two back... But I had lost interest by then especially as my two
friends who were ESV philes had lived up north...

On Sun, 21 Feb 2021, 16:26 Cody Berenson, <notifications@github.com> wrote:

[2021-02-21 16:46] JPH71 commented on #60
Super

On Sun, 21 Feb 2021, 16:53 joca879, <notifications@github.com> wrote:

[2021-02-21 16:48] JPH71 commented on #60
I will get up in another hour or so and power through the rest xxx

On Sun, 21 Feb 2021, 17:46 Jason Hudson, <jp.hudson@gmail.com> wrote:

[2021-02-21 17:02] #61 closed

[2021-02-21 17:05] #39 closed

[2021-02-21 17:07] CodyBerenson commented on #40
Fagalicious has eliminated their search results page. This issue has been resolved.

[2021-02-21 17:07] #40 closed

[2021-02-21 17:10] #59 closed

[2021-02-22 13:53] CodyBerenson opened #62 "Coming soon: Enhancements to PGMA-Modernized Agents"
We have begun to rollout enhancements to our Agents.  @JPH71 Jason is introducing the following enhancements to functionality:

1. Directors: getting info from IAFD including photos. Fixing a long term error on GEVI, which stopped them being set.
2. Cast: Photo, AKA Names or Roles in films. Agents get this now by one operational request. If the film is found it gets all the actors and Roles will b

[2021-02-22 14:05] j-ktz commented on #62
This is EPIC! 🙌

On February 22, 2021, GitHub <notifications@github.com> wrote:

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/CodyBerenson/PGMA-Modernized/issues/62>, or
unsubscribe <https://github.com/notifications/unsubscribe-
auth/AOEY5REYXTYEXDCGF5YG7NDTAJOVVANCNFSM4YAR7QKA>.

[2021-02-22 15:58] #60 closed

[2021-02-22 16:03] CodyBerenson commented on #20
@JPH71
Update:  The google cloud platform the Thumbor instance is currently hosted on expires in 70 days.  From a prioritization of workload perspective, please enable an alternative to Thumbor by then.

[2021-02-22 16:22] joca879 commented on #62
Spectacular! Great improvement.
Keep it going :)

[2021-02-22 17:08] JPH71 commented on #20
I will do my best!

On Mon, 22 Feb 2021 at 16:03, Cody Berenson <notifications@github.com>
wrote:

[2021-02-23 12:59] joshallen13 opened #63 "Annoying to me, but maybe not to others..."
I don't understand the Collections feature enhancement you guys just rolled out. I went from having 6 curated collections to over 300 -- mostly with just one movie in them for an actor. I now have to go manually delete each one of these to tidy back up my list.  I reserve these for searching features for actors, studios, and the like, but I know each person has their own preference for library org

[2021-02-23 13:02] j-ktz commented on #63
I second @joshallen13. I love using Collections, but I take time on mine to add custom poster art, background art and descriptions. This would make things get a bit out of hand for me. Is it possible to make an alternate agent that doesn't include the collections feature? Then we can uncheck the one we don't want to use? Just an idea...

[2021-02-23 13:32] joshallen13 commented on #63
@j-ktz Since I mostly stick to GEVI for my matches, I went into the python script in the GEVI.bundle and deleted the 1g - Collections section and ran it, seemingly with no issues. I am currently working on utilizing the Collections section much like your amazing Collections page is organized.

Also, meant to say thanks for letting me view your library! I'm impressed with your content and I think m

[2021-02-23 17:15] j-ktz commented on #63
@joshallen13 Thanks! I just re-did some of my collections this weekend including genre collections. Pretty proud of 'em, so want to keep them nice and tidy. Haha, no worries! Glad he got some use out of them. 😉

[2021-02-23 18:02] JPH71 commented on #63
As it stands it is very easy to put collections as a preference, I remember
mentioning this before but you were not responsive about it.
I will make changes and implement this straight away but leave collections
as per the file name.

What's up with you - for the past couple of days, I feel like you just want
to lash out??? Is someone or summat stressing you out... apart from me?

Jason....
xxx

O

[2021-02-23 18:38] joshallen13 commented on #63
What's up with you - for the past couple of days, I feel like you just want to lash out??? Is someone or summat stressing you out... apart from me? Jason.... xxx

In theory I suppose it is not a bad idea, just in practice I am not sure if there is a value to the addition of so many collections where one can create their own collections ad hoc with using a couple search parameters and then making t

[2021-02-23 19:25] j-ktz commented on #63
He's prob mad at me @joshallen13. Sorry if I missed a note about Collections @JPH71. I love the idea of auto generating collections and think it would be helpful to most folks, just not me since I'm so anal with my Collections. If it's a toggle on/off or a version of an agent we can uncheck in Plex, that would be fine.

[2021-02-23 20:53] CodyBerenson commented on #63
Hi Gentlemen, you've done nothing wrong.  That was a response to me privately but looks like some GitHub wires got crossed and voila, you get a glimpse behind the curtain...

I don't use Collections at all, so testing this aspect was new.  While testing, I raised some concerns, especially for folks with multiple libraries.  Jason suggested that he could make the functionality a preference.  I was

[2021-02-23 22:10] JPH71 commented on #63
Oops!
It was not meant at either of you! I was just replying to Cody and
unfortunately put it in this public email.... my bad...

I am just testing the collection options on AEBN at the moment. So that
everyone has the options to turn them fully off or leave them on.
So there will be 5 options all set to off by default. I will explain the
changes as I introduce the options.
Based on our new format

[2021-02-25 02:29] j-ktz opened #64 "Fagalicious agent converts case of title on matching"
Hey Boys,

I've noticed that when I match with the Fagalicious agent, **it'll change the case of the first letter after a "**. Here's three examples. Confirmed that the the letters are capitalized on Fagalicious itself and the filenames. It's an easy fix (I just change the case in Plex), but still annoying. Possible to fix?

<img width="562" alt="screenshot 2021-02-24 at 9 26 16 PM" src="https://u

[2021-02-25 12:03] JPH71 commented on #64
@j-ktz Issue Fixed, thanks for noticing that! with Cody for testing

On Thu, 25 Feb 2021 at 02:29, j-ktz <notifications@github.com> wrote:

[2021-02-25 17:50] joshallen13 commented on #63
I'm so glad that it should be an easy fix to include or exclude based on user preference this feature. I am beyond thrilled about the improvements you've incorporated, and it would be nice to know what your end goals are in terms of product/project roadmap to identify areas where we as users are hoping it follows. I'd hate to see you pour tons of work into something that doesn't really add value.

[2021-02-25 18:48] CodyBerenson commented on #63
@jph71 my hand is on a bible when I tell you that I swear to god that in no way I gave @joshallen13 these words to say...even though they are identical to my words....multiple times over.

LOL LOL LOL LOL LOL LOL LOL

My side hurts from laughing!

[2021-02-26 08:09] JPH71 commented on #63
I know.... it's almost the clone machine.... but i do have a tendency to go
into tunnel mode and then the thought pops in... wtf am i doing this?

LOL

On Thu, 25 Feb 2021 at 18:49, Cody Berenson <notifications@github.com>
wrote:

[2021-02-26 12:30] joshallen13 opened #65 "Updates to PGMA guidance re: Creating Poster Art for Scenes and Films with No Cover Art, Populating Roles, and Collections Functionality"
Came across this site while looking for a suitable collection cover poster, and found it very simple and easy to use--AND QUICK!

[Coverlabs](https://www.coverlabs.io)

Thought I would share for those who wish to create something visually appealing for the file thumbnail rather than a blurred auto-generated ambiguous thumbnail. Just a few steps to create awesome content:

1. Select your template.

[2021-02-26 13:24] CodyBerenson commented on #65
Will do.  Much appreciated!

[2021-02-26 15:36] CodyBerenson commented on #65
@joshallen13

Do you mind taking a look and providing feedback?  Thanks!

[Coverlabs.pdf](https://github.com/CodyBerenson/PGMA-Modernized/files/6050668/Coverlabs.pdf)

[2021-02-26 16:23] CodyBerenson commented on #65
@jph71

Here is the draft update to the guide re: Populating Cast Roles.

[Roles.pdf](https://github.com/CodyBerenson/PGMA-Modernized/files/6050955/Roles.pdf)

[2021-02-26 17:51] CodyBerenson commented on #65
@JPH71 @joshallen13 @J-KTZ

Here is the draft updates to the guide re: Collections.

[Collections.pdf](https://github.com/CodyBerenson/PGMA-Modernized/files/6051496/Collections.pdf)

I'm not a Collections user.  Please review/provide any feedback.

[2021-02-26 18:49] JPH71 commented on #65
Those look good!

On Fri, 26 Feb 2021 at 17:52, Cody Berenson <notifications@github.com>
wrote:

[2021-02-26 21:41] j-ktz commented on #65
@CodyBerenson These guides are EPIC. You boys are putting in WORK. Appreciate you all! Let me know if I can contribute in any way :) Love the Collection options @JPH71  🙌

[2021-02-26 22:02] j-ktz opened #66 "Fagalicious - Unable to match"
I can't get these two titles to match. Any ideas?

https://fagalicious.com/iconmale-adam-ramzi-tristan-hunter-daddys-weekend-scene-4-hot-for-teacher/

[com.plexapp.agents.Fagalicious.log](https://github.com/CodyBerenson/PGMA-Modernized/files/6052661/com.plexapp.agents.Fagalicious.log)

https://fagalicious.com/gaycest-myles-landon-ian-levine-breeding-my-little-boys-hole-tape-8-working-from-home/

[

[2021-02-26 22:12] CodyBerenson commented on #66
I get the same results.

@jph71
Can you look into these while you're working to resolve the lower case issue as well?  That way we can close both these issues together.  Thanks.

[2021-02-26 22:16] JPH71 commented on #66
I have just finished a correction to fagalicious - i will look at this and
then send it with the current fix to @codyberenson.
Give me half an hour or so!

On Fri, 26 Feb 2021 at 22:02, j-ktz <notifications@github.com> wrote:

[2021-02-26 22:30] j-ktz commented on #66
@CodyBerenson I always forget the bug tag. Ty for always adding. 😜

@JPH71  YOU ARE A SAINT.

[2021-02-26 23:27] JPH71 commented on #66
Hi Cody

I am just about to send the fixes.
I noticed another error in @J-Ktz 's log file - easier to show a segment of
his log:
2021-02-26 16:51:24,531 (7fe55da11700) :  INFO (sandbox:19) - Fagalicious
 - SEARCH:: File Name             : (IconMale) - Adam Ramzi barebacks
Tristan Hunter in “Daddy’s Weekend, Scene 4 - Hot for Teacher” (2021)
2021-02-26 16:51:24,531 (7fe55da11700) :  INFO (sandbox:1

[2021-02-26 23:29] JPH71 commented on #65
Cody is a fucking wordsmith par excellence... And surprise - he uses
american english! Wee dig there @CodyBerenson.

Jason!

On Fri, 26 Feb 2021 at 21:41, j-ktz <notifications@github.com> wrote:

[2021-02-26 23:43] joshallen13 commented on #65
My one comment would be the mention of "Creating a Collection based on Film Title." Is there an easier way to say that without having to explain it as is currently done below the picture? Perhaps, "Create Collection based on Film Series" or the like? When saying Film Title it sounds like you would create a collection based on a word within the title... unless that is the function and I'm not clear

[2021-02-26 23:54] joshallen13 commented on #65
I think it would be really helpful to articulate in a sentence or two at the beginning of this section what it is this feature is bringing to the table. I will admit I was really confused with the addition of IAFD to the studio naming, and it could be confusing to the newcomer. I would maybe preface it with this being an optional route to take for those wanting more information. Sort of like an "a

[2021-02-26 23:58] joshallen13 commented on #65
This looks great! I guess I did a good job explaining it, as you basically used my words to write it LOL

Is there a capability in this GitHub project for us to make a library of poster art to compile and share the created content for posters? I know @j-ktz does an awesome job making his, and could be a really fun way to collaborate and curate with one another. Just an idea, not sure how that coul

[2021-02-27 00:10] CodyBerenson commented on #65
@joshallen13 I not only used your words in the write up, I followed your instructions to create the screengrab. :)

GitHub has rules of behavior about inappropriate content. I’m a little paranoid about graphic graphics, so to speak. They already took our site down once...we went dark for a week (and it wasn't related to inappropriate content at all). Best to share that privately I think.

[2021-02-27 00:16] joshallen13 commented on #65
Noted and completely understand. I wonder if there's an interest in creating a Google Drive bucket or something similar to post these, rather than here. Does anyone have a suggestion on the platform that would work best for multi-user collaboration? I'm happy to host that, if that is an issue.

[2021-02-27 00:28] JPH71 commented on #65
@JoshAllen13 - I can see your point, that though briefly fluttered in my
mind... but we have used Film Title in the naming format so I stuck to that
as the title covers everything.... let's see what Cody decides and I will
make a quick change to the preferences...

Jason

On Fri, 26 Feb 2021 at 23:43, joshallen13 <notifications@github.com> wrote:

[2021-02-27 00:33] CodyBerenson commented on #65
um. @JPH71 please reread what Josh is asking. i think you may have entirely misunderstood.   ;)

[2021-02-27 00:46] j-ktz commented on #65
@joshallen13 @CodyBerenson Totally willing to help or share what I've created so far. Don't think TPDB would be too happy about my works of art either. Google Drive or Dropbox might work?

[2021-02-27 01:00] CodyBerenson commented on #66
@JPH71 the third time is the charm. this update fixed the issues.

@j-ktz corrected bundle will be pushed to GitHub in a moment. before using, please triple check to make sure the collections settings are off, if that is your preference. cheers

[2021-02-27 01:03] JPH71 commented on #65
I am sure I read an email on here where @JoshAllen13 mentioned the word
Film Series - that was what I was replying to!

Just finished GayWorld and GayMovie - sending them! after a quick initial
test...

On Sat, 27 Feb 2021 at 00:27, Jason Hudson <jp.hudson@gmail.com> wrote:

[2021-02-27 01:26] j-ktz commented on #66
@j-ktz @CodyBerenson Thank you porn angels. 🙏

[2021-02-27 01:49] JPH71 commented on #66
This song straight away started playing in my mind
https://www.youtube.com/watch?v=41GsS3jldOI&ab_channel=GlaucoMalagoli

porn instead of earth!

Jason xxx

I have updated GayWorld and GayMovie as they are closely related to
GayFetishandBDSM - I noticed that some titles - scraped the cast field and
did not strip the initial colon as in these titles the *:* was followed by
*&nbsp;* instead of space

[2021-02-27 02:09] j-ktz commented on #66
These are now matching but Fagalicious doesn't seem able to pull in the posters. I've just been grabbing the URLs and using the image cropper in the meantime.

[2021-02-27 02:10] j-ktz commented on #65
This is SUPER nit-picky but is it possible to move the Roles legend to the bottom of the summary? Otherwise, you have to click Read More, to see the first line of the Summary because the legend takes up all the space. Imo, I think the scene/movie summary is more helpful since the legend is the same every time. Not a priority.

[2021-02-27 02:22] CodyBerenson commented on #66
posters worked for me

[2021-02-27 02:23] joshallen13 commented on #65
@CodyBerenson I'm curious to hear what you think I'm referencing here, as @JPH71's reply was pretty close to the answer I expected. Given his reply, he's looking to you to. approve my verbiage change in the agent preferences checkboxes area, specifically for the Collections created by using Film Titles, but more closely depicted by collections created based on a Film Series.

Hopefully my man-spla

[2021-02-27 02:24] CodyBerenson commented on #66
@j-ktz logs please

[2021-02-27 02:36] j-ktz commented on #66
Attached!

[com.plexapp.agents.Fagalicious-1.log](https://github.com/CodyBerenson/PGMA-Modernized/files/6053562/com.plexapp.agents.Fagalicious-1.log)

[2021-02-27 02:40] CodyBerenson commented on #65
@joshallen13 I don't think any of you want to hear what i'm currently thinking.

[2021-02-27 02:44] joshallen13 commented on #65
Hopefully it's not ill thoughts towards us for being vocal with our critiques. Please let us know what the vibe is, as I'm kind of lost right now. It's hard to read the room online, especially with so many different threads on one page.

[2021-02-27 02:48] j-ktz commented on #65
![tenor-1](https://user-images.githubusercontent.com/59346628/109373382-67f02000-787c-11eb-8380-47cdfbe07f13.gif)

[2021-02-27 03:11] CodyBerenson opened #67 "Update options to "Create Collection based on Film Series""
My one comment would be the mention of "Creating a Collection based on Film Title." Is there an easier way to say that without having to explain it as is currently done below the picture? Perhaps, "Create Collection based on Film Series" or the like? When saying Film Title it sounds like you would create a collection based on a word within the title... unless that is the function and I'm not clear

[2021-02-27 03:11] JPH71 commented on #66
there is an error in the code... but it seems thumbor failed to crop the
image first

On Sat, 27 Feb 2021 at 02:36, j-ktz <notifications@github.com> wrote:

[2021-02-27 03:21] JPH71 commented on #66
I have checked the code and Thumbor is definitely failing - from that point
it does not set the picture content and eros - you should instead have
ended with an uncropped image...
i will look at this
By the way - all of you - do not download the code I mistakenly sent on
here till Cody has downloaded it and posted it to the
repository after secondary tests!

On Sat, 27 Feb 2021 at 03:10, Jason Hud

[2021-02-27 03:35] CodyBerenson commented on #65
Eventually.  Because there are so many agents...in fact, a constantly ever, ever, ever, ever increasing number of agents, propagating enhancements through the agents is a) time consuming and b) easily side tracked with every new tweak or whim.  So, niche agents that likely are never used by anyone such as WolffStudios and GayWorld have the enhancements, but workhorses such as WayBig have not yet.

[2021-02-27 03:36] CodyBerenson opened #68 "Move Cast Legend to the bottom of the description"
<img width="597" alt="screenshot 2021-02-26 at 9 12 41 PM" src="https://user-images.githubusercontent.com/59346628/109372413-66702900-7877-11eb-8e52-5c1ee0f0a8da.png">
This is SUPER nit-picky but is it possible to move the Roles legend to the bottom of the summary? Otherwise, you have to click Read More, to see the first line of the Summary because the legend takes up all the space. Imo, I think t

[2021-02-27 03:42] CodyBerenson commented on #66
@JPH71
Just checked, Thumbor is definitely up (for only two more months, by the way).  Probably not what you meant.  Just wanted to confirm.  And, oh by the way, we only have image cropping for two more months in case I haven't mentioned.

[2021-02-27 03:45] JPH71 commented on #68
It's simple, I will make it an option whether to prefix or suffix it...

When I started this legend malarkey - plex offered more space to the
summary...

This changed late January and now one has a ridiculous small amount....

I am off to bed now - my eyes feel like they are spinning in
opposite directions in their sockets!

On Sat, 27 Feb 2021 at 03:37, Cody Berenson <notifications@github.com>
wr

[2021-02-27 04:00] JPH71 commented on #65
The new functionality is in 2 files - genfunctions and iafd - these work
the same for all agents. so you can do this - (Studio;IAFDStudio) - Title
(Year).ext.
Guys wait - I can not rush through all the agents at once... waybig needs
some extra work to get it to match some peculiarities - the niche ones were
easy to convert so got done... even though i was doing my best to do them
in alpha order...

[2021-02-27 04:02] JPH71 commented on #66
It will mainly affect those who are using effing mackintoshes...
Better write a small "How To" on setting up a Thumbor service for the guys

Jason...

night xxx

On Sat, 27 Feb 2021 at 03:43, Cody Berenson <notifications@github.com>
wrote:

[2021-02-27 04:03] CodyBerenson opened #69 "Fagalicious doesn't seem able to pull in the posters"
These are now matching but Fagalicious doesn't seem able to pull in the posters. I've just been grabbing the URLs and using the image cropper in the meantime.

_Originally posted by @j-ktz in https://github.com/CodyBerenson/PGMA-Modernized/issues/66#issuecomment-786985848_

[2021-02-27 04:04] CodyBerenson commented on #69
I just tested the five most recent Fagalicious blog titles.  3 pulled in posters fine, 2 did not.  Rather, they pulled in the next-in-line image as the poster.

![image](https://user-images.githubusercontent.com/40373801/109374933-d934d080-7886-11eb-92b4-5d8f550d0a90.png)

[2021-02-27 04:04] JPH71 commented on #67
That was the comment - I couldn't seem to find afterwards....
When I put the option in for the legend - I will do this too...

Jason

On Sat, 27 Feb 2021 at 03:11, Cody Berenson <notifications@github.com>
wrote:

[2021-02-27 04:08] JPH71 commented on #69
@CodyBerenson  - it's thumbor....for one reason or another... maybe it's
being accessed too much tonight... an idea would be to use a VPN and see if
it works

2021-02-26 21:00:34,892 (7f4f3892c700) :  INFO (sandbox:19) - Fagalicious
 -
------------------------------------------------------------------------------
2021-02-26 21:00:34,899 (7f4f3892c700) :  DEBUG (networking:143) -
Requesting '
https

[2021-02-27 04:10] JPH71 commented on #69
send me the links to the 2 that did not work as expected and i will check
the xpath to see how it reacts to their web page...

oK off to bed

Jason

On Sat, 27 Feb 2021 at 04:04, Cody Berenson <notifications@github.com>
wrote:

[2021-02-27 04:17] CodyBerenson commented on #69
I've disconnected from my VPN.  No change.  I reconnected to a Spain VPN.  no change.

here are the two that aren't working:
https://fagalicious.com/falcon-studios-jimmy-west-devin-trez-born-to-porn/
https://fagalicious.com/raging-stallion-max-konnor-isaac-x-scrum/

When I crop the image directly inline using thumbor, it works fine:  http://35.232.232.183:8888/unsafe/0x0:800x1200/https://fagalicio

[2021-02-27 04:27] CodyBerenson commented on #66
Ok, you can take that assignment.  Thumbor is meant to run on unix.  It won't run on anything else.  Hence why I installed in to GCP, and hence why we need to remove it as a dependency #20 and not think folks who are struggling to understand how to set up/configure our agents in PMS are going to be able to establish a Thumbor service.

[2021-02-27 04:38] JPH71 commented on #66
Oh shite! Unix!

Well - I have windows and there is that new service for posters that I
think Josh found - that can stand in for those who are using mackintoshes
until i figure a way out...
or find a unix script to do what the vbscript does on windows...

Jason x

On Sat, 27 Feb 2021 at 04:27, Cody Berenson <notifications@github.com>
wrote:

[2021-02-27 04:42] CodyBerenson commented on #66
Um....look over there.

[2021-02-27 05:09] CodyBerenson commented on #69
By the way, the two images that the Agent did return which are not the poster art, were still cropped by thumbor.  I don't believe the log is accurately capturing the errors.

[2021-02-27 05:22] JPH71 commented on #69
I have enhanced the log...

Jason

On Sat, 27 Feb 2021 at 05:09, Cody Berenson <notifications@github.com>
wrote:

[2021-02-27 05:24] JPH71 commented on #66
where??

On Sat, 27 Feb 2021 at 04:42, Cody Berenson <notifications@github.com>
wrote:

[2021-02-27 05:34] #69 closed

[2021-02-27 05:38] #64 closed

[2021-02-27 05:38] #66 closed

[2021-02-27 05:47] #65 closed

[2021-02-27 05:55] #63 closed

[2021-02-27 06:00] CodyBerenson commented on #62
Status update:

These have been done:

1. AdultFilmDatabase.bundle
2. AEBNiii.bundle
3. AVEntertainments.bundle
4. BestExclusivePorn.bundle
5. CDUniverse.bundle
6. Fagalicious.bundle
7. GayDVDEmpire.bundle
8. GayFetishandBDSM.bundle
9. GayHotMovies.bundle
10. GayMovie.bundle
11. GayWorld.bundle
12. GEVI.bundle
13. WolffVideo.bundle

Queued in backlog:

1. GayRado.bundle
2. HomoActive.bundle
3. IAF

[2021-02-27 13:38] j-ktz opened #70 "Caffeine to help?"
Not an issue but I'd love to help contribute! @CodyBerenson @JPH71 you should set up a https://www.buymeacoffee.com or something similar? This repo has been life changing and I ask for a lot and report a lot of bugs and I just want to show my appreciation! :)

[2021-02-27 21:50] CodyBerenson commented on #62
Correction.  The BestExclusivePorn.bundle did not function and had to be reverted to the 2/21/2021 code.

Status update:

These have been done:

    AdultFilmDatabase.bundle
    AEBNiii.bundle
    AVEntertainments.bundle

    CDUniverse.bundle
    Fagalicious.bundle
    GayDVDEmpire.bundle
    GayFetishandBDSM.bundle
    GayHotMovies.bundle
    GayMovie.bundle
    GayWorld.bundle
    GEVI.bundle

[2021-02-28 19:34] CodyBerenson opened #71 "Fagalicious struggling with titles beginning with double quotes"
@JPH71

I've noticed this a couple times today, 

I've had two titles on fagalicious that begin with double quotes not be able to be matched. 

First this couldn't match, but i just used a different agent:

https://fagalicious.com/black-godz-body-worship-devin-trez-marcus-lebronx-derek-kline/

Then this couldn't match, and again it begins with double quotes.

https://fagalicious.com/staghomme-heat

[2021-03-01 16:46] j-ktz opened #72 "Discussion - Plex-Meta-Manager"
Hey Boys!

I've recently found and fell in love with [Plex-Meta-Manager.](https://github.com/meisnate12/Plex-Meta-Manager) I have it running in Docker every night at 3AM and makes collections based on a Movies.yml code (auto generated Genre, Studio, Trakt, IMDB, etc. Collections). It's GREAT. So it got be thinking of I could retrofit for my XXX libraries, and I can!

I did some basic studio collec

[2021-03-01 16:58] CodyBerenson commented on #72
@j-ktz Discussions now enabled.  Thanks for the suggestion.

[2021-03-01 17:33] #72 closed

[2021-03-01 20:18] CodyBerenson commented on #71
@JPH71 Updated code fixes the problem.  I'll push to the repository now.

Thanks!

[2021-03-01 20:20] CodyBerenson commented on #68
@JPH71 This option works for the four Scenes agents.  I"ll push them now.

Leaving this issue open until the Films agents are updated.

Thanks!

[2021-03-01 20:21] CodyBerenson commented on #67
@JPH71 This change has been made to the 4 Scenes agents.  I'll push momentarily.

This issue will remain open until the Films agents are updated.

[2021-03-01 20:24] CodyBerenson commented on #68
Forgot to include the screen shot

![image](https://user-images.githubusercontent.com/40373801/109554408-2d67cc80-7aa2-11eb-9b61-ce051914f0fd.png)

[2021-03-01 20:25] CodyBerenson commented on #67
Forgot the screenshot.

![image](https://user-images.githubusercontent.com/40373801/109554554-6011c500-7aa2-11eb-83d8-97bd65a6049c.png)

[2021-03-01 21:06] #71 closed

[2021-03-01 21:10] CodyBerenson commented on #62
Updated:
Queued in backlog:

1. GayRado.bundle
2. HomoActive.bundle
3. IAFD.bundle
4. nymMedia.bundle

[2021-03-01 22:09] JPH71 commented on #68
Yes, it will be standard for the film agents when I send them to you,
It is already in place for the Scene Agents!

On Mon, 1 Mar 2021 at 20:24, Cody Berenson <notifications@github.com> wrote:

[2021-03-01 22:10] JPH71 commented on #67
Correct!

On Mon, 1 Mar 2021 at 20:25, Cody Berenson <notifications@github.com> wrote:

[2021-03-11 12:36] #62 closed

[2021-03-11 21:35] #68 closed

[2021-03-11 21:35] #2 closed

[2021-03-11 21:36] #67 closed

[2021-03-11 21:51] JPH71 commented on #2
Yippeee!

On Thu, 11 Mar 2021 at 21:36, Cody Berenson ***@***.***>
wrote:

[2021-03-11 22:13] JPH71 commented on #70
I think it may be a good idea to talk to @CodyBerenson on this one especially in regards to Thumbor, for which he paid for out of his own pocket and which we all use and I don't think it is right that he should shoulder this alone.....
I try my best to pay him back with all the agent work... but that is like a two-edged sword ... as he also has to test them.....

[2021-03-11 22:47] j-ktz commented on #70
@CodyBerenson @JPH71 Totally in debt to both of you for all of your hard work and dedication. Set up a way for us to donate/contribute Cody!

[2021-03-11 23:19] CodyBerenson opened #81 "GayDVDEmpire creates "Bio" and "Interview" actors"
Hi @jph71

@joca879 reports that when GayDVDEmpire includes (bio) next to a cast member in the cast list, the agent creates a cast member called "Bio"

https://www.gaydvdempire.com/2602813/cade-has-a-big-fat-dick-gay-porn-movies.html?qs=Cade%20Has%20A%20Big%20Fat%20Dick

(Jake Jaxson Presents) - Cade Has A Big Fat Dick (2019)

![image](https://user-images.githubusercontent.com/40373801/110868190-2

[2021-03-11 23:23] JPH71 commented on #81
Corrected!

On Thu, 11 Mar 2021 at 23:19, Cody Berenson ***@***.***>
wrote:

[2021-03-11 23:24] CodyBerenson commented on #81
@jph71 I just noticed, while the agent correctly identified by Director, it included him as a cast.

![image](https://user-images.githubusercontent.com/40373801/110868693-07f37380-8297-11eb-8f26-4c925c446152.png)

[2021-03-11 23:25] JPH71 commented on #81
darned it ... i will check it out!
give me 10

[2021-03-11 23:27] CodyBerenson commented on #81
we might frighten patrons away if we start including Chi Chi la Rue's photo amongst the cast.......

[2021-03-11 23:29] JPH71 commented on #81
The new xpath i use //a[@class="PerformerName" and @label="Performers - detail"] sorts this out
so its good to go - Jake Jaxson has "Directors - Detail" - so is not picked up

[2021-03-11 23:29] joca879 commented on #81
thanks guys for the corrections, you are awesome :)

[2021-03-11 23:30] JPH71 commented on #81
LOL - chi chi

On Thu, 11 Mar 2021 at 23:27, Cody Berenson ***@***.***>
wrote:

[2021-03-11 23:32] CodyBerenson commented on #81
so, none of this as a cast member?

![image](https://user-images.githubusercontent.com/40373801/110869253-0d9d8900-8298-11eb-9ddf-bce3dc3c1d7c.png)

you suck

[2021-03-11 23:32] JPH71 commented on #81
Just so you can see the internals
[image: image.png]

the path is now
***@***.***="PerformerName" and @label="Performers - detail"]/text()

On Thu, 11 Mar 2021 at 23:30, Jason Hudson ***@***.***> wrote:

[2021-03-11 23:33] joca879 commented on #81
it's the truth ... practically I didn't even have time to see the post, it already appeared with the situation resolved :)
@JPH71 you are a machine!

[2021-03-11 23:33] JPH71 commented on #81
She must have had to start somewhere!

On Thu, 11 Mar 2021 at 23:32, Cody Berenson ***@***.***>
wrote:

[2021-03-11 23:34] CodyBerenson commented on #81
Yes, that fixed it.  I'll post the fix.

[2021-03-11 23:36] #81 closed

[2021-03-11 23:36] JPH71 commented on #81
I am on a roll today, Lindo!

On Fri, 12 Mar 2021 at 00:33, joca879 ***@***.***> wrote:

[2021-03-11 23:38] JPH71 commented on #81
It really helps when everyone helps - as the agents get a lot more titles
thrown against them and more pairs of eyes to spot errors....
Jason!

On Fri, 12 Mar 2021 at 00:35, Jason Hudson ***@***.***> wrote:

[2021-03-11 23:41] joca879 commented on #81
Glad to help :)

[2021-03-11 23:43] JPH71 commented on #81
You are Welcome!

On Thu, 11 Mar 2021 at 23:41, joca879 ***@***.***> wrote:

[2021-03-25 08:48] vampirelayer opened #84 "Unable to fetch meta data from Gay Scenes (WayBig.com)"
First of all, let me thank you for writing this amazing set of plugins! I have 1Tb worth of videos to organise and your work has certainly helped!

I did encounter an issue recently with the Gay Scenes agents. Hope you can shed some light. I'm a novice programmer myself so I'm comfortable going into log files :)

My video file name is `(Men) - Adam Ramzi, Alex Mecum, Julian Knowles And Kurtis Wolf

[2021-03-25 10:57] CodyBerenson commented on #84
@vampirelayer Welcome to the community!

There is a quirk that some of the blogs temporarily undertook.  Waybig, for example, circa 2016-2017, started titling their entries with "at Studio" at the end of the entry.  You're close on the naming of your file....you just need to kill the "at Studio" at the end of the entry.  I had thought this was covered in the documentation but it is not....thanks f

[2021-03-25 14:14] vampirelayer commented on #84
It's nice to be part of this community!

I have tested with `Fagalicious.com` and still could not make it work.

File name is `(Men) - Adam Ramzi and Kurtis Wolfe fuck Alex Mecum and Julian Knowles in “Dangerous Days, Part 3” (2017).mp4`, matching this blog entry exactly at `https://fagalicious.com/men-com-adam-ramzi-kurtis-wolfe-fuck-alex-mecum-julian-knowles-dangerous-days-part-3/`.

This time,

[2021-03-25 17:16] CodyBerenson commented on #84
@vampirelayer before I started using a VPN, I used to get similar errors for fagalicious.  We considered/concluded that fagalicious may perceive a DOS attack so We built in a delay timer for Fagalicious as an option that you may want to consider....

![image](https://user-images.githubusercontent.com/40373801/112514718-f9638c80-8d6b-11eb-94de-591de484d97f.png)

and, as I mentioned, if you use a VP

[2021-03-26 07:47] JPH71 commented on #84
hI @Xtian

I will look into this and get back to you - could you send me the log
file... I like the screen shot but I could have done with an extra bit of
width :-)!

Jason

On Thu, 25 Mar 2021 at 18:16, Cody Berenson ***@***.***>
wrote:

[2021-03-26 12:36] CodyBerenson commented on #84
@JPH71

here it is.

[com.plexapp.agents.WayBig.log](https://github.com/CodyBerenson/PGMA-Modernized/files/6211808/com.plexapp.agents.WayBig.log)

@vampirelayer

no action needed on your part yet.

[2021-03-27 12:51] CodyBerenson commented on #84
@vampirelayer Jason has fixed the issue, its been tested, and the updated code has been pushed to the repository.  Please download and install the updates, kill and restart your PMS, and give it a go.

Thanks again for reaching out, its terrific to have a new voice in the community!

Cheers!

[2021-03-28 12:20] vampirelayer commented on #84
This is working now!
There are a few more issues I'm seeing. Expect a few more bugs raised :) Happy to be the de facto tester here.

[2021-03-28 12:20] #84 closed

[2021-03-28 12:38] JPH71 commented on #84
BRILLIANT - all help is appreciated

On Sun, 28 Mar 2021 at 13:20, Xtian Hog ***@***.***> wrote:

[2021-04-03 21:58] CodyBerenson opened #85 "IAFD has stopped returning Actors, Directors with All PGMA Agents"
In the past 24 hours, IAFD has stopped working with our agents.  The logs throw errors for every film, actor, director search from Plex....even though one can manually perform the exact same searches from a browser.

Jason is looking into it.  Stay tuned.

[2021-04-05 04:47] Teda1 commented on #85
Is the error a 403? I've been running into 403's ever since I started running my server in an UnRAID docker container. On my windows server I have been able to get around this by specifying a `User-Agent`. However the `User-Agent` does not resolve the issue in my UnRAID docker container.

[2021-04-05 14:28] JPH71 commented on #85
Yes it's a 403...

On Mon, 05 Apr 2021, 06:48 Teda1, ***@***.***> wrote:

[2021-04-06 04:17] Teda1 commented on #85
Okay, I've been looking into this as well when I get free time. It will be interesting to see what the solution ends up being.

[2021-04-06 05:27] Teda1 commented on #85
I've tested and confirmed that this issue can be avoided by using the cloudscraper api to bypass Cloudflare on the site.
https://pypi.org/project/cloudscraper/

[2021-04-06 06:51] JPH71 commented on #85
Cheers @Teda1

I will look into the cloudscraper api.....

I wrote this little script and changed the headers and managed to get the
correct response code 200

import requests
myString = '
https://www.iafd.com/results.asp?searchtype=comprehensive&searchstring=Friendly+Fire+11
'
headers = {'User-Agent':
'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.11 (KHTML, like
Gecko) Chrome/23.0.1271.64 Safa

[2021-04-06 15:56] CodyBerenson opened #86 "Agents fail to return actors, regardless of IAFD"
Beyond that IAFD is now blocking our agents requests, each agent should still return actors and/or directors if they are listed on the index (without headshots, since IAFD is blocked).  If/when IAFD is fixed, once can refresh metadata to obtain headshots, but until then actors and/or directors should be populated.

[2021-04-06 19:43] JPH71 commented on #86
Yes... That's what I am fixing, I inadvertently threw an error rather than
log an error when iafd failed... I remembered thinking at the time, I need
to change that... But ho him.. I went to bed and forgot .....

On Tue, 06 Apr 2021, 17:56 Cody Berenson, ***@***.***> wrote:

[2021-04-07 00:30] Teda1 commented on #85
Something like the following should get the job done. The cloudscraper module will only seems to support Python 3 though.
[code]

If you need a fix for python 2 you could try https://dev.to/mesadhan/python-bypass-anti-bot-page-and-scrape-it-1aa6

[2021-04-07 07:08] JPH71 commented on #85
PLEX WORKS ON PYTHON 2.7

On Wed, 7 Apr 2021 at 01:30, Teda1 ***@***.***> wrote:

[2021-04-07 07:08] JPH71 commented on #85
sorry bout the caps lock

On Wed, 7 Apr 2021 at 08:07, Jason Hudson ***@***.***> wrote:

[2021-04-07 11:07] CodyBerenson commented on #86
Hi folks, @jph71 has fixed this. For any folks that have done any matching in the past 4 days since IAFD blocked our scraping, you should be able to refresh metadata on those scenes and the actors should now be returned (without headshots because of the IAFD block).

Jason continues to look for a resolution to the IAFD block.

[2021-04-07 14:25] Teda1 commented on #85
No problem! I know Plex runs on python 2.7 but it seems like the agents will still run as long as your agent provides the modules in the shared libraries directory. It’s not completely clear to me how though. The fix I posted earlier works just fine with my agent. You can also look at this code from the PhoenixAdult plugin. Their code also uses the cloudscraper module: https://github.com/PAhelper/

[2021-04-07 15:56] CodyBerenson commented on #85
@Teda1 Sorry, far less technical than you and Jason...just trying to follow.  Are you saying that the Phoenix Adult Plugin's  isn't viable?  https://github.com/PAhelper/PhoenixAdult.bundle/blob/master/Contents/Code/PAutils.py

[2021-04-07 16:25] Teda1 commented on #85
The implementation in the PAutil file is viable. I was just correcting my comment to say that I was wrong in stating that python 3.x was required.

[2021-04-07 18:13] JPH71 commented on #85
@Teda1 - you are a star...

Thank you so very much for your help!

Would you mind me having a look at your agent too??

Next if you come across another website that holds porn actor information
let me know - It would be a good idea to have an alternative...

Cheers

Jason

On Wed, 7 Apr 2021 at 17:25, Teda1 ***@***.***> wrote:

[2021-04-07 18:50] Teda1 commented on #85
My agent is just a forked version of the PA agent that was modified to sync with some older agents I wrote a while back. The Helper module I wrote which references iafd does not live in the PA agent so I was not using the Cloudflare bypass code in PAutil. I didn’t realize Cloudflare was the cause of the 403 error until I looked at the HTML response content.

No problem, if I come across any more I

[2021-04-07 19:21] JPH71 commented on #85
kisses!

On Wed, 7 Apr 2021 at 19:51, Teda1 ***@***.***> wrote:

[2021-04-08 04:06] #86 closed

[2021-04-10 23:13] fivedays555 commented on #85
https://github.com/jychp/cloudflare-bypass

Maybe worthing looking to.....
Thanks for making this great agent.

[2021-04-11 13:13] JPH71 commented on #85
Many thanks @fivedays555 and for the appreciation too!

On Sun, 11 Apr 2021 at 01:14, fivedays555 ***@***.***> wrote:

[2021-04-12 00:35] fivedays555 commented on #85
I think for the same reason, the Fergalicious agent stops working as well. It's using Cloudflare as well.
A temporary solution would be adding the header with cookies together, but it will expire in some time.

[2021-04-13 17:21] codeanator commented on #85
I managed to fix this issue using cloudscraper (inspired by PAUtils) from PhoenixAdult.
I finalize my testing and I'll PR the changes soon

[2021-04-13 18:58] codeanator commented on #85
IAFD scraper fixed - as well as other iads.py bugs fixed in PR #87

[2021-04-13 23:53] CodyBerenson commented on #85
Testing now.  :)

[2021-04-17 12:44] j-ktz opened #89 "Two titles won't match"
Just noticed these two scenes won't match.

[(BelAmi) - Ariel Vanean and Bastian Dufy fuck each other raw (2017)
](https://fagalicious.com/belami-ariel-vanean-and-bastian-dufy-fuck-each-other-raw/)
[(Bel Ami Online) - Ariel Vanean Fucks Jeroen Mondrian In ‘Ariel Goes Scouting’ (2017)
](https://www.waybig.com/blog/2017/01/08/ariel-vanean-fucks-jeroen-mondrian-in-ariel-goes-scouting-at-bel-ami-onlin

[2021-04-17 15:35] CodyBerenson commented on #89
@j-ktz um....have you considered that @JPH71 doesn't care for twinks and the non-matching is in fact by design?

lol!

[2021-04-17 15:52] j-ktz commented on #89
@CodyBerenson The thought did cross my mind. 😉  If anything they're twunks!

[2021-04-17 16:08] CodyBerenson commented on #89
As i suspected.  @JPH71, ever the twink-naysayer, left an easter-egg in the log:

![image](https://user-images.githubusercontent.com/40373801/115119268-84076800-9f75-11eb-895c-4621a0a39232.png)

[2021-04-17 21:20] JPH71 commented on #89
You are both @j-ktz @CodyBerenson, begging for smacked arses, using my name
in vain.... but correct on the twinky shit... beurgh... give me a man with
hair in all the right places any day over a fucking twink....

On Sat, 17 Apr 2021 at 17:08, Cody Berenson ***@***.***>
wrote:

[2021-04-18 00:33] CodyBerenson commented on #85
Hi folks,

Huge thanks to @codenator ...the IAFD Cloudflare issue has been resolved.  All of the agents have been updated with the fix.

[2021-04-18 04:11] fivedays555 opened #90 "fagalicious agent 500 error"
Thanks for making this great agent.

Here just a small issue that sometimes, it adds an additional '+' at the end of the Fagalicious searching URL which causes a 500 error.

For studio matching or title matching, I think "fuzzywuzzy" is a pretty good python package to consider.
I currently use it for a title match at 75 scores and a studio match at 88 scores. It gave me a pretty good result.
https

[2021-04-18 12:28] CodyBerenson opened #91 "Series Collections are created even when the preference is unselected"
@JPH71 not sure how prevalent across the agents this is, but it is definitely true of GEVI and AEBN.  Even though the "Create Collections based on Film Series" is unchecked, collections are still created for film series.  This has been happening for some time, unrelated with the recent updates.

Cheers.

[2021-04-19 00:03] JPH71 commented on #91
I will look into this at the same time xxx

On Sun, 18 Apr 2021, 14:28 Cody Berenson, ***@***.***> wrote:

[2021-04-19 00:05] JPH71 commented on #90
Cheers for letting me know... This will be an easy one to fix 👍

On Sun, 18 Apr 2021, 06:11 fivedays555, ***@***.***> wrote:

[2021-04-20 11:23] j-ktz opened #92 "Title won't match (Fagalicious)"
Not sure if this is a known issue or not, or why it won't match, but can't get this scene to match.

[(Next Door Taboo) - Brandon Anderson fucks Chris Blades bareback in “Get In Deeper Bro” (2021)](https://fagalicious.com/next-door-taboo-brandon-anderson-fucks-chris-blades-get-in-deeper-bro/)

[com.plexapp.agents.Fagalicious.log](https://github.com/CodyBerenson/PGMA-Modernized/files/6343084/com.pl

[2021-04-20 16:17] JPH71 commented on #92
I will look at this 👍

On Tue, 20 Apr 2021, 13:24 j-ktz, ***@***.***> wrote:

[2021-04-20 20:14] fivedays555 commented on #92
fagalicious server is a bit strange. Sometimes, it does not like the '+' at the end of url; sometime, it does not like the F word or 'bareback' in the searching url. Easy fix will be remove those words in the searching query. ; )

[2021-04-20 21:27] JPH71 commented on #92
@fivedays55 - give me a list of titles with this issue and I will look in
to it the + at the end is easy to sort out - but the other issues with the
f words are a bit concerning...
Once I got 2 or 3 titles which this issue is affecting I will be able to
pin point the issue and provide a fix.

Keep well and thanks for your input :-)

Jason

On Tue, 20 Apr 2021 at 21:14, fivedays555 ***@***.***> wro

[2021-04-20 22:18] fivedays555 commented on #92
@JPH71 Thanks for your reply and hard work.
Yeah, I have noticed this problem when I do some manual search in fagalicious.com.
For example, in "Next Door Taboo: Brandon Anderson fucks Chris Blades bareback in 'Get In Deeper Bro'" (https://fagalicious.com/search/Brandon+Anderson+Chris+Blades).
If you search "Brandon+Anderson+fuck+Chris+Blades", it will give a 500 error.
But if you search "Brandon+A

[2021-04-20 22:36] fivedays555 commented on #92
Here are some links for you to check:

2021-04-20 15:19:40,510 (b168) :  ERROR (networking:196) - Error opening URL 'https://fagalicious.com/search/kevin+daley+and+cameron+parks+fuck+angel+rivera'
2021-04-20 15:19:40,512 (b168) :  ERROR (logkit:22) - Fagalicious - SEARCH:: Error: Search Query did not pull any results: HTTP Error 500: Internal Server Error

2021-04-20 15:23:37,948 (bcf8) :  ERROR (

[2021-04-21 22:03] JPH71 commented on #92
@ fivedays555 - error fixed - fagalicious has reduced the length of the
search string further from 48 characters to 21...
This you can prove by typing in the search bar
*Cole Blue gets his ass* - 22 characters - returns a 500 error
but
*Cole Blue gets his as* - 21 char returns a result

Many thanks for pointing this out, and thanks for the kind words.

Once Cody has given it the go ahead - he will

[2021-04-21 22:14] fivedays555 commented on #92
@JPH71 Thanks for looking into this.

However, the following search query is working fine.......It passes 21 characters for sure.......fagalicious server is strange...

https://fagalicious.com/search/Cole+Blue+gets+his+spanked+and+plugged+by+Felix+Kamp+in

But if I add "ass" in, Hmm it stops working...

https://fagalicious.com/search/Cole+Blue+gets+his+ass+spanked+and+plugged+by+Felix+Kamp+in

[2021-04-21 22:20] JPH71 commented on #92
yes - it has to stop at *"as" * if you add an extra *"s"* so that is ends
as *"ass"*, you end up with a HTTP 500

On Wed, 21 Apr 2021 at 23:15, fivedays555 ***@***.***> wrote:

[2021-04-21 22:22] JPH71 commented on #92
This will work
https://fagalicious.com/search/Cole+Blue+gets+his+as

This won't
https://fagalicious.com/search/Cole+Blue+gets+his+ass

On Wed, 21 Apr 2021 at 23:19, Jason Hudson ***@***.***> wrote:

[2021-04-21 22:26] fivedays555 commented on #92
@JPH71 Thanks for your explain...

How about the following link......I got HTTP ERROR 500 for it.

https://fagalicious.com/search/Cole+Blue+ass

[2021-04-21 22:33] JPH71 commented on #92
That works for me as you can see
[image: image.png]

But why would you do that when matching with the agent....
The agent is picking the first 21 characters of the title... so if you
named the video (Masonic Boys) - Cole Blue Ass Spanked and Plugged by Felix
Kamp in "Disciplinary Action" (2021) it would fail to match as that title
does not exist in fagalicious.

The search can contain upto 21 char

[2021-04-21 22:44] fivedays555 commented on #92
Strangely, it works now.......for https://fagalicious.com/search/Cole+Blue+ass.
Their server is weird... or I am. Lol

You are right about file naming. Let's change a keyword to "bareback", which will most likely be there in the first 21 characters.
The following link would return a 500 error for me for now at least.

https://fagalicious.com/search/Cole+Blue+bareback

[2021-04-21 22:54] JPH71 commented on #92
And correctly so - the website is returning a 500 because it can not get a
result from that search string

Strangely, it works now.......for
https://fagalicious.com/search/Cole+Blue+ass. - that  would work - all
three words are in the search string and the total length of the search
string is under 21 characters....

But remember - the search string is made up of the first 21 characters of
the Tit

[2021-04-21 23:07] fivedays555 commented on #92
Yeah, you are right.

I need to consider using another agent as fagalicious is quite strange. Thanks for your patience. I know these things could be so tedious.

Cheers!

[2021-04-21 23:15] JPH71 commented on #92
I tend to use WayBig and Best Exclusive more

Queer Click also seems to work quite well...

If you come across owt strange - let us know!

Jason

On Thu, 22 Apr 2021 at 00:07, fivedays555 ***@***.***> wrote:

[2021-04-21 23:31] CodyBerenson commented on #92
Sorry that Jason got y'alls hopes up, but his fix doesn't work on the original title in this issue.

[2021-04-21 23:46] CodyBerenson commented on #92
@fivedays555....i'm a big confused.  I looked at every Angel Rivera title on Fagalicious.  The title you reference doesn't exist.  I then checked every James Dawn title on Fagalicious.  Similarly the title you reference isn't indexed on Fagalicious.

[2021-04-22 00:04] fivedays555 commented on #92
@CodyBerenson You are right. I just pulled out whatever is caused an HTTP Error 500: Internal Server Error from the log file. If it doesn't exist, at least it should return a 200 response with 0 result listed. Here is a normal response:

2021-04-21 16:59:24,657 (32d8) :  INFO (logkit:16) - Fagalicious  - ------------------------------------------------------------------------------
2021-04-21 16:5

[2021-04-22 00:06] JPH71 commented on #92
Hi cody - fixed that issue...
Fagalicious still can not search beyond 21 characters...
Sometimes it lets the last word be cut off at the 21 character..
I have now made it to cut the title at the last space before 21 chars - so
that instead of it searching on Brandon Anderson fuck
<https://fagalicious.com/next-door-taboo-brandon-anderson-fucks-chris-blades-get-in-deeper-bro/>
it
will now search on

[2021-04-22 00:07] CodyBerenson commented on #92
@fivedays555 similarly re: the last two entries.  There are two titles with kennedy and kellan, but neither having anything to do with "flip fuck" and there are two titles with kent and kellan but neither having anything to do with "fuck buddies"

I don't mean for this to sound rude so please, please don't take offense.  One must match the scene to the specific blog.  A scene may have a specific t

[2021-04-22 00:07] fivedays555 commented on #92
Again, I am not thinking this is an agent's fault. I think it is more likely Fagalicious's server's fault. They did not handle their search query properly.

[2021-04-22 00:08] CodyBerenson commented on #92
@fivedays555 please look at my last response.  I don't believe you're using the agents correctly.  You're looking for titles on blogs that do not exist and will therefore never match.

[2021-04-22 00:08] JPH71 commented on #92
@fivedays555* - *you are right about it returning a 200 response with no
results.... but fagalicious is behaving strangely - this may be a way for
them to stop scraping..

On Thu, 22 Apr 2021 at 01:04, fivedays555 ***@***.***> wrote:

[2021-04-22 00:15] fivedays555 commented on #92
@CodyBerenson Thanks for your explanation. I understand how I should use the agents. I turn on both Fagalicious and Waybig agents in the agent tab, so I am not sure which title should match by which agent when I look at all the logs. I understand some or all of them may not match. I just try to show @JPH71 that fagalicious is returning some 500 errors that may worth looking into.

[2021-04-22 00:16] CodyBerenson commented on #92
folks, stop.  @fivedays555 has taken WayBig titles, and thrown them against fagalicious.  it doesn't work that way.  @fivedays555 please see the guide for usage.

![image](https://user-images.githubusercontent.com/40373801/115637359-fa8dc800-a2dd-11eb-83b9-05d15b50f5ef.png)

![image](https://user-images.githubusercontent.com/40373801/115637552-65d79a00-a2de-11eb-8e66-1676df3acbd7.png)

[2021-04-22 00:23] CodyBerenson commented on #92
An agent not matching a title that doesn't exist on an index site isn't a problem that Jason should be looking into.  Not for one moment.

If you have a true title that is unable to be matched, please open an issue as @j-ktz does.

[2021-04-22 00:26] #90 closed

[2021-04-22 00:29] fivedays555 commented on #92
@CodyBerenson Yep. Understood. ; )

[2021-04-22 00:30] JPH71 commented on #90
The + is added because there is a trailing space - this issue is fixed in
the latest code - the + should not affect the search string results unless
at the time it went over 48 characters, but it's not aesthetically pleasing
either :-)

On Thu, 22 Apr 2021 at 01:26, Cody Berenson ***@***.***>
wrote:

[2021-04-22 00:33] CodyBerenson commented on #89
@j-ktz Jason coded fixes for issue #92 and the Fagalicious portion of this issue.  The WayBig issue remains outstanding, so we'll leave this issue open.  Thanks for your patience.

[2021-04-22 00:35] #92 closed

[2021-04-22 00:56] j-ktz commented on #89
@CodyBerenson No prob, boys! Thanks for all your hard work.

[2021-04-22 01:00] JPH71 commented on #89
@j-ktz - I will look at waybig tomorrow...

On Thu, 22 Apr 2021 at 01:56, j-ktz ***@***.***> wrote:

[2021-04-22 01:34] j-ktz commented on #89
@j-ktz Ty. Sending you the biggest twink hung. 😆

[2021-04-22 11:14] crospa91 opened #93 "Issues with RuntimeWarning and Agents not working"
Today I've noticed a very weird issue with the agent.
I'm using Plex inside a docker container and since the first installation today, I've started receiving these errors in the log of the container:

`
/config/Library/Application Support/Plex Media Server/Plug-ins/WayBig.bundle/Contents/Libraries/Shared/unidecode/__init__.py:64: RuntimeWarning: Argument <type 'str'> is not an unicode object. Pass

[2021-04-22 11:39] CodyBerenson commented on #93
Hi @mattia

Jason will respond and help troubleshoot the technical issues.  However, I
have a question.  You specifically say:   "I saw your installation guide is
written to be done on windows but, I tried anyway on docker."  We thought
we wrote the guide to be PMS platform agnostic (although we do speak to a
file naming limitation in windows not allowing the use of a colon
(:)....can you show me

[2021-04-22 11:42] crospa91 commented on #93
Hey Cody, I just based that because the guide clearly tell the user to click in the tray icon and select "Quit" from the Plex Media Server Icon, that of course not the case on Docker or linux, where no system tray icon is available.

[2021-04-22 13:42] JPH71 commented on #93
This has to do with the issue that when you reconstitute a Json dump it
converts string characters to Unicode.
I have highlighted this before and it is going to be corrected soon - it
happens in the scenes agents that sometimes have to parse the titles to get
cast etc...
I am working on Waybig tonight and will implement the fix in it, followed
by the other scene agents and later the film agents.

[2021-04-22 13:56] CodyBerenson commented on #93
@jph71 please consider working this "string characters to Unicode" separately from #89.  The fix for #89 can be pushed to the repository and not get held up while while you then work directly with @crospa91

@crospa91
I'll have no way of testing progress made against this issue so will you reach out directly to Jason at jp.hudson@gmail.com and the two of you can work offline?  Once all is good, I'

[2021-04-22 14:34] crospa91 commented on #93
Sure thing! If the issues are separate then no problem for me to test the fix for the issue with the agent.

I'll drop you an email right now so you can tell me when you're ready to let me test the new edited version of the agent!

[2021-04-23 09:58] #85 closed

[2021-04-23 22:28] fivedays555 opened #94 "Some small issues."
Hi there, it is me again. I ran through my library and most of them are working perfectly, so thank you for making these great agents! Here is just a list of small issues I ran into. Should be an easy fix for our amazing coder. ; )

- Error: Filename overrides Media Title in searching query. Cannot perform "fix match" when needed.

    *2021-04-22* *17:52:42,045* (d7f0) :  INFO (logkit:16) - WayBi

[2021-04-24 11:21] CodyBerenson commented on #94
@fivedays555
Hope this finds you well.  When opening a new issue, We just need 1) the link to the blog that you're trying to match, and 2) the corresponding Agent's log as an attachment...per the FAQ:  "(i.e. if the film is on AEBN, please include the com.plexapp.agents.AEBN.log.)"  It would be more efficient to us if you take a look at how @J-KTZ opens issues (e.g., #89).

Specific to the 7 scene

[2021-04-27 15:48] CodyBerenson opened #95 "Thumbor Address requires Updating!!"
Hi folks,

The address for Thumbor, the service which crops Scene Blog posters when needed, needs to be updated. The current address will cease to work momentarily.  You can update it yourself now, or install the updated Scene agents that will be posted shortly.  To do that now, go into the settings for each Scene agent and update the IP Address to 34.68.158.72:

![image](https://user-images.githu

[2021-04-27 21:46] CodyBerenson opened #96 "GEVI incorrectly matches certain films in series"
@jph71
Hi Jason,

I've recently noticed a couple of incorrect matches on GEVI.  For example:
1.
(Hot House Entertainment) - Hot House Backroom Exclusive Videos 21 (2010).avi
instead of properly matching it as film 21, GEVI matches it as film 12.

2.
(Raging Stallion Studios) - Hairy Boyz 32 (2013).mp4
instead of properly matching is as film 32, it matches it as film 23.

[com.plexapp.agents.GEVI.l

[2021-04-27 22:11] JPH71 commented on #96
will look at it

On Tue, 27 Apr 2021 at 23:47, Cody Berenson ***@***.***>
wrote:

[2021-04-28 11:36] CodyBerenson commented on #95
@JPH71
Hi Jason,

The scene agents preferences have all been updated with the new Thumbor address.  Here's hoping this address says as consistent/persistent as the last.

Please be sure to grab the latest scene agents for your code base when making future changes to them.

Cody

[2021-04-28 11:47] crospa91 commented on #93
Hey @CodyBerenson, Jason told me that he sent you the updated version for the agent of Waybig, any chance you tested it already so I can test it as well with the files that weren't matching?

Thanks!

[2021-04-28 12:57] CodyBerenson commented on #93
Hi @crospa91 Super busy work schedule this morning, but will test it as soon as some time frees up.

Cheers

[2021-04-28 12:58] crospa91 commented on #93
No problem at all!

Thanks!

[2021-04-28 13:10] CodyBerenson commented on #93
@crospa91 @JPH71
I should have asked.  Sorry!  Were you able to resolve the environment differences offline and they're incorporated in this Waybig release?

[2021-04-28 13:16] crospa91 commented on #93
For what Jason told me yesterday the fix for the matching it’s in that release he sent you, so yes

Sent from my iPhone

[2021-04-28 13:18] JPH71 commented on #93
Darned it @crospa91, when you mentioned unicode <str> I sorted out an issue
with an issue I had seen before in the scene scrappers...
I have never used docker... make sure that the version of python you have
installed on the system is 2.7 as that is what Plex uses... though it has
its on version of python installed with it...
Most of the imported libraries will not have error logging that will fil

[2021-04-28 13:21] crospa91 commented on #93
for reference, I'm using the linuxserver.io Plex Image, and from their description python 2.7 is included inside the docker container.

If you have a way to share the modified version of the waybill agent it take me literally 3 second to test it out and give you a feedback if the workaround applied is working already!

[2021-04-28 13:22] JPH71 commented on #93
@crospa91 and @codyberenson I am trying to get the cloudflare to run
correctly in python 2.7.1 as I get some errors saying that the syntax is
wrong as the libraries cody was given seem to be using Python 3....

GEVI at the moment is not working for me.... So as soon as I fix this, we
can sort out the docker issue. But test the new version that I sent Cody as
hopefully all the variables that are kn

[2021-04-28 13:24] JPH71 commented on #93
hold on - let me send it to you
https://drive.google.com/file/d/1P81nPmqBZxWh0c7mBaC6Ty7WL9j61m9k/view?usp=sharing

here it is

On Wed, 28 Apr 2021 at 14:21, Mattia ***@***.***> wrote:

[2021-04-28 13:24] crospa91 commented on #93
Fantastic! Let me updating on the server and I'll let you know ASAP

[2021-04-28 13:25] JPH71 commented on #95
I update them yesterday when you sent out the mail... the lates waybig I
sent you has the new address in it

Jason

On Wed, 28 Apr 2021 at 12:37, Cody Berenson ***@***.***>
wrote:

[2021-04-28 13:44] crospa91 commented on #93
Changed the agent, but it won't start:

Error starting framework core for /config/Library/Application Support/Plex Media Server/Plug-ins/WayBig.bundle.

I'm trying to remove remove it and reupload it

[2021-04-28 13:45] crospa91 commented on #93
Error starting framework core for /config/Library/Application Support/Plex Media Server/Plug-ins/WayBig.bundle.

Critical: libusb_init failed

[2021-04-28 14:53] CodyBerenson commented on #93
@crospa91 Agreed.  @JPH71 The WayBig agent won't load for me either.

[com.plexapp.system.log](https://github.com/CodyBerenson/PGMA-Modernized/files/6392769/com.plexapp.system.log)

[2021-04-28 23:50] JPH71 commented on #93
Does this file exist? C:\Users\jphud\AppData\Local\Plex Media
Server\Plug-ins\WayBig.bundle\Contents\info.plist
the system can't seem to find it according to the error log.... but I
zipped the whole folder

On Wed, 28 Apr 2021 at 15:53, Cody Berenson ***@***.***>
wrote:

[2021-04-29 00:59] CodyBerenson commented on #93
@JPH71
LOL.  I took another look.  In the .zip, the bundle was nested within a folder of the same name.  Once I copied the true bundle, restarted PMS, it correctly fixes the issues from #94 as expected.  Sorry for the confusion.  I'll push to the master branch now.

[2021-04-29 01:15] CodyBerenson commented on #94
@JPH71
Although the fixes to the WayBig agent causes the above 7 titles to correctly match, this version of WayBig now fails with IAFD.  I took a look in GitHub and see that you've removed utils.py, which had the cloudscraping fixes, and adding the bunch of other libraries, not sure why....but I can't push this or folks will stop getting actors photos, etc..

![image](https://user-images.githubuse

[2021-04-29 01:17] CodyBerenson commented on #93
@JPH71
LOL, you were right.  I took a look and realized that the bundle was nested within a folder of the same name.  Once I retried, the bundle loaded fine.  However, please see the update I made to #94 re: what this fix broke.  Sorry.

[2021-05-02 08:18] crospa91 commented on #93
Oh I've put the folder directly in plex! let me retry as well!

[2021-05-02 08:21] crospa91 commented on #93
And @CodyBerenson  agreed, plugin loads fine but I can relate with the same issue of https://github.com/CodyBerenson/PGMA-Modernized/issues/94 no actor get matched now with the new Waybig agent.

[2021-05-02 13:44] CodyBerenson commented on #93
@crospa91

Cloudflare/non matching actors aside, if i follow correctly, this does fix the environment issues you were having before?

[2021-05-03 14:54] crospa91 commented on #93
Yes @CodyBerenson the issue with the runtime is gone

[2021-05-04 14:56] j-ktz commented on #89
Found another one that won't match with Fagalicious: [(Raging Stallion) - Sean Maygers fucks Beau Butler bareback in "Show Hard" (2021)](https://fagalicious.com/raging-stallion-sean-maygers-beau-butler-show-hard/)

[com.plexapp.agents.Fagalicious.log](https://github.com/CodyBerenson/PGMA-Modernized/files/6421964/com.plexapp.agents.Fagalicious.log)

[2021-05-04 15:08] vampirelayer commented on #89
Works for Waybig.
On 4 May 2021, 10:57 PM +0800, j-ktz ***@***.***>, wrote:

[2021-05-04 15:08] JPH71 commented on #89
just finishing off GEVI, and then sorting WayBig...
Should be done this evening

On Tue, 4 May 2021 at 15:57, j-ktz ***@***.***> wrote:

[2021-05-04 20:07] JPH71 commented on #89
Hi Xtian

Let me know what error you get.
Empty the waybig log file then refresh the metadata for the clip, then
email the log file!

Jason x

On Tue, 4 May 2021 at 16:08, Xtian Hog ***@***.***> wrote:

[2021-05-06 11:08] crospa91 commented on #93
Sorry to bother you guys, any update on this issue?

[2021-05-06 11:25] crospa91 commented on #93
Today the new version of the agent that Cody made it's not working anymore for me... returned the same error, but the file is in the right folder. and the .plist is there and with the right permissions

[2021-05-06 22:12] CodyBerenson commented on #93
@crospa91 Hello.  I'm sorry, my friend.  I haven't heard from Jason and am unaware of his timeline. Thanks for your patience.

[2021-05-06 23:20] JPH71 commented on #93
@crospa91 <https://github.com/crospa91> - I am just about to send GEVI,
Waybig and Fagalicious to Cody...
They should be in the repository as soon as Cody tests them...
I have been on call for the past 10 days and not had much time to work on
them.

On Thu, 6 May 2021 at 23:12, Cody Berenson ***@***.***> wrote:

[2021-05-07 06:52] crospa91 commented on #93
No worries at all! No rush either, was just checking at what point we were because I didn't heard anything back!

As always massive thank you for all your help in this!

[2021-05-07 10:52] CodyBerenson opened #97 "IAFD - Unicode issue"
Certain accented characters are not handled by IAFD.

![image](https://user-images.githubusercontent.com/40373801/117439435-d4cd0980-af00-11eb-833a-d617d6731c95.png)

[2021-05-07 11:16] #95 closed

[2021-05-07 12:08] CodyBerenson commented on #93
Greetings @crospa91

Jason @JPH71 fixed a number of outstanding issues with GEVI, Fagalicious and WayBig....and perhaps the challenges you've faced but I have no way of testing.  Please download the latest code, copy to your plugins directory, stop and then restart your PMS, and advise when you have a chance.

[2021-05-08 17:13] #94 closed

[2021-05-08 17:14] #91 closed

[2021-05-08 17:14] #89 closed

[2021-05-14 09:34] vampirelayer opened #99 "Poster image is not fetched"
I'm able to match these titles and fetch all meta data **except** the poster image.

Just to name a few:

`https://fagalicious.com/hothouse-ryan-rose-pounds-darius-ferdynand-in-gutter-punks/
https://fagalicious.com/falcon-studios-brent-corrigan-darius-ferdynand-flip-fuck-poolside-1/
https://fagalicious.com/falcon-studios-sean-zevran-fucks-shawn-wolfe-crave/
https://fagalicious.com/belami-kevin-war

[2021-05-14 09:48] vampirelayer opened #100 "Fagalicious - GENF :: FFProbe Error: [Errno 2] No such file or directory"
I'm getting a few of the above when matching certain titles, mostly happening in Fagalicious.

Just to name a few:
`https://fagalicious.com/raging-stallion-bruno-bernal-michael-roman-pierce-paris-hot-threeway-gun-show/
https://fagalicious.com/raging-stallion-tegan-zayne-woody-fox-riley-mitchell-teddy-torres-three-wishes-gay-porn/
https://fagalicious.com/raging-stallion-tex-davidson-ace-era-teddy-t

[2021-05-14 11:32] CodyBerenson commented on #100
@jph71 I get the same result.  Here is the log when you take a look.

[com.plexapp.agents.Fagalicious.log](https://github.com/CodyBerenson/PGMA-Modernized/files/6478466/com.plexapp.agents.Fagalicious.log)

[2021-05-14 11:46] CodyBerenson commented on #99
@vampirelayer
Greetings.  These retrieve the poster image for me.

Question:  Did you update your agents to the latest code?  The scene agents use a Thumbor instance to crop images, and the cloud hosting for the Thumbor instance changed URLs a week or two.  The correct thumbor address is in each scene agent's settings:

![image](https://user-images.githubusercontent.com/40373801/118266027-078a7b00

[2021-05-14 12:14] vampirelayer commented on #99
You're right. I forgot to install the latest plugins.
The posters now appear, but do I have to manually set it in Edit mode?
I don't remember having to do that previously.

[2021-05-14 13:44] JPH71 commented on #99
@Cody - just to let you know that the new Thumbor is not working for me...
It pulls down the image but fails on thumborising....

could you check your logs to see if you have the same issue? Should be
right at the end of the update section.

I updated bestexclusive and queerclick yesterday... will test tonight

I will send you the logs when I get home tonight.... another 12hr shift
today

On Fri,

[2021-05-14 13:44] JPH71 commented on #100
I will look at it tonight!

On Fri, 14 May 2021 at 13:32, Cody Berenson ***@***.***>
wrote:

[2021-05-14 15:47] CodyBerenson commented on #99
@JPH71
LOL.  You keep doing this....you have to @ with the proper github username, not from the first name that appears in your email.  Poor Cody, whoever that user may be, is now wondering why Thumbor isn't working for you.  LOL LOL LOL.  Perhaps he's interested in scraping male porn so alls well, that ends well.  LOL.

The cropping works perfectly for me.  Both for new titles to match and as I'm

[2021-05-14 16:00] CodyBerenson commented on #99
@JPH71
I just VPN'd into Madrid, and tested the very latest title from WayBig, which is a good test because the Bel Ami title has an 800 x 1844 image poster.  The agent/thumbor properly cropped the poster to 800 x 1200, same as the thumbor manual call would return:

http://34.68.158.72:8888/unsafe/0x0:800x1200/https://zing.waybig.com/reviews/BelAmiOnline/05-14-21/jerome-exupery-robin-rief-belamion

[2021-05-14 16:07] JPH71 commented on #99
@CodyBerenson I will check in an hour when I get back home... I may be
seeing things... just finishing  another long shift and it feels like my
eyes are a-wobbling in my head...

On Fri, 14 May 2021 at 18:01, Cody Berenson ***@***.***>
wrote:

[2021-05-14 16:11] CodyBerenson commented on #99
Relax your eyes and prepare for ESC next week.  Both semi-finals and the grand final!

[2021-05-14 22:07] JPH71 commented on #99
Both these links give me a 504 error - took too long to respond...
I have tried both in Chrome and edge

Jason

On Fri, 14 May 2021 at 16:47, Cody Berenson ***@***.***>
wrote:

[2021-05-15 11:56] CodyBerenson commented on #99
are you using vpn?  can you try a different vpn server or a different device on a different network?

[2021-05-15 12:35] CodyBerenson commented on #100
@vampirelayer

@JPH71 made a fix to the agent for the above titles.  I've tested it against the above titles and the most recent 15 Fagalicious titles and 100% match.  I'll push the fix momentarily.

Note:  the FFProbe Error is unrelated.  The agents have a routine to match against duration so that the proper movie and not scene is matched on IAFD.  It isn't uncommon for a studio to have the exact

[2021-05-15 12:45] #100 closed

[2021-05-15 12:46] #99 closed

[2021-05-16 05:36] JPH71 commented on #100
@vampirelayer <https://github.com/vampirelayer>
Hi all, the comment Cody made about FFProbe is absolutely correct - Install
FFMPEG for this functionality until I can find a way to get Plex to return
the media duration....
The most obvious way does not work.... grrrr...

Jason

On Sat, 15 May 2021 at 14:36, Cody Berenson ***@***.***>
wrote:

[2021-05-16 05:38] JPH71 commented on #99
Unfortunately, if I use my VPN whilst I am in Belgium, I get kicked off my
server in England.... grrrr
I will have to test this when I get back....
Any other European residents who can confirm its working for them???

On Sat, 15 May 2021 at 13:56, Cody Berenson ***@***.***>
wrote:

[2021-05-16 12:07] j-ktz opened #101 "Fagalicious - Title Won't Match"
Can't get this scene to match: [(Fun-Size Boys) - Legrand Wolf, Cole Blue and Ian Levine in “Follow-up Visit” (2021)](https://fagalicious.com/fun-size-boys-legrand-wolf-cole-blue-ian-levine-follow-up-visit/)

Log:
[com.plexapp.agents.Fagalicious.log](https://github.com/CodyBerenson/PGMA-Modernized/files/6489171/com.plexapp.agents.Fagalicious.log)

[2021-05-16 13:54] CodyBerenson commented on #101
Hi @j-ktz hope you are well and behaving!

Hmmmm...this did match for me.  Did you download the latest Fagalicious?  It was pushed yesterday in resolution to other Fagalicious issues....

Please advise.

[2021-05-16 23:05] JPH71 commented on #101
hey @j-ktz <https://github.com/j-ktz>

You are using the old version.
Also install ffmpeg - to help with duration matching

On Sun, 16 May 2021 at 14:54, Cody Berenson ***@***.***>
wrote:

[2021-05-17 10:58] j-ktz commented on #101
@CodyBerenson Ah! Didn't see the new release. Yup. That got it to match. @JPH71 Hmmm, I think I already have it installed. Tell me more about duration matching?

[2021-05-17 13:39] JPH71 commented on #101
I introduced Duration matching to cater for the fact that IAFD has scenes
and full film titles with the same names.
So when you match a film it sometimes picks the scene instead of the film
on IAFD and therefore does not get extra information in relation to the
cast and their roles, As the the scene would have fewer actors than the
whole movie.

A second reason is that sometimes and very very rare

[2021-05-17 15:24] crospa91 commented on #93
Hey guys, apologies for the super late reply.
today I've managed to install the plugins, but I got welcomed by lots of issues...

Error starting framework core for /config/Library/Application Support/Plex Media Server/Plug-ins/WayBig.bundle.

/config/Library/Application Support/Plex Media Server/Plug-ins/QueerClick.bundle/Contents/Libraries/Shared/unidecode/__init__.py:64: RuntimeWarning: Argument

[2021-05-17 17:57] JPH71 commented on #93
@crospa91

What version of waybig are you using??
Best thing to do - clear your logs and do a "Refresh Metadata" on the one
scene that is causing you this issue.
Then send the log file over.
Do this as standard in the future, as I can then easily identify what is
causing the issue.

I had made some changes to Waybig, along with fagalicious which Cody has
already tested.
I will be sending the lates

[2021-05-18 10:44] j-ktz commented on #101
@JPH71 Sounds awesome! So I need to tweak my preferences and also download and install FFMPEG? Do I install that on my NAS (where Plex is installed)?

[2021-05-18 13:02] JPH71 commented on #101
That would be the most likely place for it to go - so long as it's in the
path

On Tue, 18 May 2021 at 12:44, j-ktz ***@***.***> wrote:

[2021-05-20 13:11] j-ktz commented on #101
Having an issue with this one too: [(AmateurGayPOV) - Klein Kerr in “My Daughter’s Boyfriend” (2021)](https://fagalicious.com/amateurgaypov-klein-kerr-my-daughters-boyfriend/
[com.plexapp.agents.Fagalicious.log](https://github.com/CodyBerenson/PGMA-Modernized/files/6516135/com.plexapp.agents.Fagalicious.log)
)

[2021-05-20 14:01] CodyBerenson commented on #101
Interesting, I just tested it, matched fine for me.

![image](https://user-images.githubusercontent.com/40373801/118992113-58034c00-b952-11eb-9b64-62221a7f12bd.png)

In the meantime...maybe stop/restart PMS and/or try a fix match?

[2021-05-20 14:07] vampirelayer commented on #101
Jesus that poster!

Sent from my iPad

[2021-05-20 14:15] CodyBerenson commented on #101
I know, right?  so hot even the masking couldn't obscure it...had to go back and triple mask it.  LOL

[2021-05-20 14:18] vampirelayer opened #102 "Fagalicious - some titles don't match"
I will share the log files if you can't replicate them.

`https://fagalicious.com/falconstudios-paddy-obrian-wrecks-edin-sols-smooth-plump-buns-with-his-beer-can-cock-in-sun-kissed/`

`https://fagalicious.com/ragingstallion-jessy-ares-and-landon-conrad-pound-each-other-in-the-woods-part-2/`

`https://fagalicious.com/belami-summer-break-orgy-marcel-gassion-ariel-vanean-andre-boleyn-marc-ruffalo-rhy

[2021-05-20 18:15] j-ktz commented on #101
@CodyBerenson Hmm so strange! It seems like when I add a new folder for a studio, Plex thinks the name of the file is the folder name. Could have something to do with it. Have you run into that?

[2021-05-20 20:46] j-ktz commented on #101
@CodyBerenson I just tried it again (with more videos in the folder) and still no dice. The debug says it's looking for the scene at "https://fagalicious.com/search/%22klein+kerr+in+my%22" which returns no results too.

[2021-05-20 23:06] JPH71 commented on #101
@CodyBerenson <https://github.com/CodyBerenson> and @j-ktz
<https://github.com/j-ktz>

Hi guys, sorry that I have not been my responsive self... halfway through a
72hr working week and by the time I get home after each 12hr shift my eyes
feel like they are rattling in my head. As they say in this part of Belgium
in dialectic French... *"I am so tired, my eyes are like the slit on a
cat's vulva"...

[2021-05-20 23:44] JPH71 commented on #102
I will need to look into the search string to focus the search and make it
less generic as the first *(Falcon Studios) - Paddy O’Brian wrecks Edin
Sol’s smooth plump buns with his beer can cock in “Sun Kissed” (2013)* did
not match as Paddy O'Brian is in tonnes of scenes and the resultant search
string came back with this Search Query:
https://fagalicious.com/search/paddy+o

The second.. The main

[2021-05-20 23:54] j-ktz commented on #101
@JPH71 Thanks for trying! I just copy/pasted your text and nada.

[com.plexapp.agents.Fagalicious.log](https://github.com/CodyBerenson/PGMA-Modernized/files/6519228/com.plexapp.agents.Fagalicious.log)

[2021-05-21 06:48] vampirelayer commented on #101
I have followed @JPH71 advice and changed the quotes I copied copied from Fagalicious to the double quotes from my keyboard and it works.

They seem to be different characters even both are semantically the same.

Try that.

[2021-05-21 13:04] j-ktz commented on #101
@vampirelayer Thx for trying! Idk why I'm the problem child. So far I've tried:
- Rebooting PMS
- Downloading and replacing ALL plugins
- Making sure multiple video files are in the folder
- Title with straight quotes and curly quotes

I give up LOL

[2021-05-21 13:53] CodyBerenson commented on #101
You can always match using either the QueerClick entry or the IADF entry and swap out the poster.

[2021-05-21 15:55] j-ktz commented on #101
@CodyBerenson I didn't see it on IAFD but I matched witch QC and then changed the title and poster in Plex cause QC was so  messy. 😆 TY!!!!

[2021-05-21 17:50] CodyBerenson commented on #102
I received the same results as Jason.  Log attached for troubleshooting the falcon file.

1.  Falcon title won't match.  Paddy is a personal favorite, so I'd make this the priority over anything else possible, even including work.
2. Raging Stallion title matches fine.
3. & 4.  My plex mergered the two titles into one and matched it.

From my perspective the bug here is #1, here's the log.  @vampi

[2021-05-21 17:54] CodyBerenson commented on #101
@j-ktz the only reason I knew it was on IAFD because i was trying to figure out who in the hell the top was....and IAFD didn't include it.  :(

https://www.iafd.com/title.rme/title=my+daughter%27s+boyfriend/year=2021/my_daughter%27s_boyfriend.htm

[2021-05-22 11:24] vampirelayer commented on #101
My guess is Manuel Skye is the top. Also a personal favourite!

[2021-05-23 07:39] vampirelayer commented on #102
Thanks @CodyBerenson
The Raging Stallion one finally matched.
Still no luck with the BelAmi one. I attached the log.
[com.plexapp.agents.Fagalicious.log](https://github.com/CodyBerenson/PGMA-Modernized/files/6527704/com.plexapp.agents.Fagalicious.log)

[2021-05-24 02:59] #101 closed

[2021-05-24 20:38] JPH71 commented on #101
@j-ktz - I will be looking at fagalicious - its search string formulation
needs an overhaul... I noticed from your log that it was not creating the
search string correctly...

@CodyBerenson <https://github.com/CodyBerenson>  reopen this issue!

On Fri, 21 May 2021 at 00:55, j-ktz ***@***.***> wrote:

[2021-05-25 18:33] InSanniti opened #103 "WayBig causing error on NVIDIA Sheild"
Get the attached error in Waybig bundle on NVIDIA shield running the latest PMS. Same version works fine on my Windows 10 PMS

2021-05-26 02:23:11,272 (254c2bd4f0) :  CRITICAL (agentkit:1095) - Exception in the update function of agent named 'WayBig (IAFD)', called with guid 'com.plexapp.agents.GayAdult://36740?lang=xn' (most recent call last):
  File "/data/data/com.plexapp.mediaserver.smb/Resour

[2021-05-25 18:33] InSanniti commented on #103
[com.plexapp.agents.WayBig.log](https://github.com/CodyBerenson/PGMA-Modernized/files/6541581/com.plexapp.agents.WayBig.log)

[2021-05-26 12:51] JPH71 commented on #103
Please update to the latest version and try that first - then let me know
if you are still having the same errors....
delete the folder with the current agent
download the new agent from github, set your preferences...
install ffmpeg if you want to use duration matching
...
if it still errors send me the logs!

Jason

On Tue, 25 May 2021 at 20:34, InSanniti ***@***.***> wrote:

[2021-05-30 16:30] InSanniti commented on #103
Hi JPH71, yes it is using the latest already. Although I redownloaded, deleted and put the new download in it's place.. The same log errors show when it finds a match

[2021-05-30 21:25] CodyBerenson commented on #103
@InSanniti please attach the log file.  Thanks.

[2021-05-30 22:14] InSanniti commented on #103
Attached is a recreate of the issue just now with the latest versions
[com.plexapp.agents.WayBig.log](https://github.com/CodyBerenson/PGMA-Modernized/files/6566987/com.plexapp.agents.WayBig.log)

[2021-05-31 13:47] JPH71 commented on #103
I will look into it this week!
Cheers

On Sun, 30 May 2021 at 23:14, InSanniti ***@***.***> wrote:

[2021-06-26 22:55] cody commented on #99
Ha! I love the fact that I’ve been brought into this. If I had any applicable skills, I’d be happy to help troubleshoot this porn thumbnail scraper. Unfortunately, I’ll have to let @CodyBerenson handle that.

[2021-07-02 01:11] jocklover opened #104 "IAFD - Scenes / Chapters"
Is there handling for scenes / chapters on IAFD?

I have separate files for each scene of a video. IAFD lists each scene within the movie, not separately. For obvious reasons I would like to avoid naming each file with the same name to get a match.

Here is the IAFD listing: https://www.iafd.com/title.rme/title=blake+ellis%3a+total+submission/year=2019/blake-ellis-total-submission.htm

(Some conte

[2021-07-02 01:34] JPH71 commented on #104
Plex handles multi-part movies quite well...

I would simply name the movie as:
(Dream Boy Bondage) - Blake Ellis- Total Submission (2019) - Part 1.mp4
(Dream Boy Bondage) - Blake Ellis- Total Submission (2019) - Part 2.mp4
(Dream Boy Bondage) - Blake Ellis- Total Submission (2019) - Part 3.mp4

This way it shows up as only one entry in Plex.
*N.B - if you have collections enabled and you do not w

[2021-07-02 03:59] jocklover commented on #104
Thank you @JPH71  for the tip on Plex joining parts! Using the parts nomenclature I was able to get Plex to join most of the files. However, Parts 1, 10 & 11 are not joining.
Also, I am still not getting a match to the IAFD record.

File list:
![image](https://user-images.githubusercontent.com/57208899/124218480-e6293100-dabf-11eb-8434-81ac300227ef.png)

[2021-07-02 13:30] CodyBerenson commented on #104
Hi @jocklover !

Per Plex documentation, Only stacks up to 8 parts are supported.
https://support.plex.tv/articles/naming-and-organizing-your-movie-media-files/

In these cases, Plex recommends joining the files outside of plex and they provide an unofficial guide and tool recommendation.

Personally, I use avidemux
http://avidemux.sourceforge.net/

If all of the files are similar filetypes, simil

[2021-07-02 21:31] JPH71 commented on #104
Hi @jocklover <https://github.com/jocklover>

I use mkvtoolkit to join files

Join files that are continuous and are off the same video dimensions

Jason

On Fri, 2 Jul 2021 at 14:30, Cody Berenson ***@***.***> wrote:

[2021-07-02 22:04] jocklover commented on #104
Apologies, it looks like I led the topic in the wrong direction - my ultimate goal is not to join files.
I am looking for a way to get PGMA to recognize individual scenes of a movie. I thought there was a file nomenclature that could be used for scenes.
IAFD lists all scenes for each DBB movie under one title, but I have typically found the scenes in separate files and am hoping for a way for PGMA

[2021-07-04 01:12] JPH71 commented on #104
As Cody mentioned - you can only have a maximum of 8 separate scenes
stacked into one title.
That's why I think three of your parts were not recognised. Try adding the
parts 1 by 1 and see where it starts breaking down

On Fri, 2 Jul 2021 at 23:04, jocklover ***@***.***> wrote:

[2021-07-04 01:57] jocklover commented on #104
Is there a way that I can name a file such that PGMA matches it to IAFD?
Can PGMA ignore certain portions of a file name such that I can name each as a Scene (Part / Chapter / etc) and it still match to a movie in IAFD.
Is this functionality built into the existing code? Can it be added?
Is it an update to the RegEx (which I have no familiarity with)?

I am not concerned about stacking / joining /

[2021-07-04 14:48] CodyBerenson commented on #104
Hi @jocklover
I believe I'm confused about the challenge you're having.  Are you saying you aren't able to match this file in IAFD at all?  My responses to your questions below.

Yes.  In This case, properly naming the file:  (Dream Boy Bondage) - Blake Ellis - Total Submission (2019).mp4 will match against IAFD:

![image](https://user-images.githubusercontent.com/40373801/124389238-4254a680-dcb4-

[2021-07-04 17:55] jocklover commented on #104
Thank you @CodyBerenson - based on your response, I am naming the files correctly, but they are not still matching.
(Fun fact PLEX has apparently upped the stacking to 9 titles.)

Digging into my library a little more, it looks like may I have a wider issue w/ IAFD matching (that may not have anything to with the parts naming). I am seeing issues with some Military Classified scenes as well.

Exam

[2021-07-04 20:14] CodyBerenson commented on #104
@jocklover I get the same results for these three titles.

@JPH71 Can you look into when you get a chance.  I'm unable to match any of these titles on IAFD as well.   Cheers!

[2021-07-04 20:18] CodyBerenson commented on #104
@jocklover if you are still unable to match the Dream Boy Bondage file, Jason will need your specific IAFD log to troubleshoot, since it works fine for us.

So, please stop your pms, restart it, attempt to fix match against the title, and then attach the log.  Please see the FAQ for where to find the log.

[2021-07-05 03:36] jocklover commented on #104
Log attached:
[com.plexapp.agents.IAFD.log](https://github.com/CodyBerenson/PGMA-Modernized/files/6761463/com.plexapp.agents.IAFD.log)
I ran it for the Part 01-09 stacked media, and the Part 10 & Part 11 individual medias.

Looks like it may not handling the "Part ##" portion of the name and failing to match (but not sure).

Here is the RegEx that is in the IAFD settings (I don't know how to ready

[2021-07-05 15:56] JPH71 commented on #104
Firstly - You have mentioned looking at the regex in the agents options in
the plex media player...
if you can do this you are not using the latest version as this option to
change regex was removed in the last version and it went into the python
code, as the regex was too complex for people to understand and was never
ever ever changed.

Secondly - your parts are wrong make sure you append *" - P

[2021-07-06 05:28] jocklover commented on #104
Based on your suggestion I tried " - Part 01"; " - Part 1"; " - Part01" and it looks like it is now querying for "Part 1" as the title in the IAFD web address. Interestingly, using "01" or " 01" allows 9 files to stack (not the limit of 8 listed (https://support.plex.tv/articles/naming-and-organizing-your-movie-media-files/)
[com.plexapp.agents.IAFD.log](https://github.com/CodyBerenson/PGMA-Modern

[2021-07-06 11:32] CodyBerenson commented on #104
@jph71 Moving the three above military classified titles which do not match to a new issue.

[2021-07-06 11:33] CodyBerenson opened #105 "IAFD Unable to match titles with Genre in the title"
- (Military Classified) - Carlos- Blowjob (2019).mp4 --> https://www.iafd.com/title.rme/title=carlos%3a+blowjob/year=2019/carlos-blowjob.htm
- (Military Classified) - Astin- Blowjob (2019).mp4 --> https://www.iafd.com/title.rme/title=astin%3a+blowjob/year=2019/astin-blowjob.htm
- (Military Classified) - Brando-Justino- Anal (2019).mp4 --> https://www.iafd.com/title.rme/title=brando-justino%3a+anal

[2021-07-06 18:28] JPH71 commented on #104
My Fault!!

I really thought I had sent in the amended IAFD plugin to Cody for testing
and release and it must have slipped past..

I am working on better title matching - as soon as I have sorted out the
little bugger, Cody will test and release.

Sorry for all the hassle, but at least we now know we have an issue...

I will look at the titles that Cody has put into the issue to help with the
tit

[2021-07-07 01:38] jocklover commented on #104
No issue with splitting off the MC matching issues to #105 - glad those titles help.
Any thoughts on the DBB Blake Ellis title not matching? Is that something that should have been resolved in a pending release or going into the #105 fix? Or are we still sorting that out?
Again, appreciate everything - this is amazing to get this support on a project like this!

[2021-07-07 13:27] CodyBerenson commented on #104
Have you tried updating your RegEx to what I posted above, stopped your PMS, restarted your PMS, renamed your files to what i posted above, and attempted to rematch?  Here is the link to the specific post above:  https://github.com/CodyBerenson/PGMA-Modernized/issues/104#issuecomment-873605408

Please confirm that you have tried this.  It would help if you include a screen shot of your updated Reg

[2021-07-08 05:28] jocklover commented on #105
Some additional titles to test, if needed
![image](https://user-images.githubusercontent.com/57208899/124867100-16bb1000-df83-11eb-9308-d18b165622d0.png)
These are all titles listed on IAFD, and I think I have everything correct in the name.

It seems to be mostly with the titles "Name- Blowjob" but also seeing duos sometimes not hitting (though some do).

Thanks!

[2021-07-09 04:28] JPH71 commented on #104
Still sorting that out...

I am having an indepth look at IAFD title matching...

1 thing left to tweak....

Jason

On Wed, 7 Jul 2021 at 02:38, jocklover ***@***.***> wrote:

[2021-07-09 04:30] jocklover commented on #104
I updated the RegEx yesterday and retried the match to no result and was about ready to give up with this week long saga.
BUT then I remembered one tiny little detail you mentioned - "restart PMS". Well, I did that today (which meant rebooting the QNAP because it doesn't properly restart the PMS app... :( )

AND AND AND ... IT WORKED!!! MAGIC!!!
The stacked Part 01 - 09 & the individual parts 10 &

[2021-07-09 04:30] #104 closed

[2021-07-09 12:56] CodyBerenson commented on #104
@jocklover

Glad to hear it!  FYI, whenever you update bundles, (e.g., when there's a fix to #105), you'll need to restart PMS (in your case I guess reboot your device)....PMS won't recognize a single update to any of the code until its restarted.

[2021-07-10 05:55] JPH71 commented on #104
@jocklover <https://github.com/jocklover>

Believe you me - that restart malarkey has got me many a time.... I have
stopped writing or rewritten large chunks of code thinking nowt was
working... until the Ah! moment....

On Fri, 9 Jul 2021 at 14:56, Cody Berenson ***@***.***> wrote:

[2021-07-16 20:15] j-ktz commented on #102
Having issues with these 3 titles on Fagalicious:

(Sean Cody) - Brysen and Dax flip fuck bareback (2021)
(Falcon Studios) - Cole Connor bangs Felix Fox raw in “Making the Grade” (2021)
(Falcon Studios) - Cole Connor bangs Felix Fox raw in “Making the Grade” (2021)

[com.plexapp.agents.Fagalicious.log](https://github.com/CodyBerenson/PGMA-Modernized/files/6833155/com.plexapp.agents.Fagalicious.log

[2021-07-16 21:22] JPH71 commented on #102
Hi guys,

Sorry for not been as attentive as usual but my new role has me doing
60-70hrs per week lately
Next week I am off the whole week, so will dedicate some time to the title
matching routine...
Send me a list of all the films you are having issues with as these help me
with perfecting the routine.
And in J-ktz since you are using a MAC please send the log files too,
making sure that each log

[2021-07-16 21:48] j-ktz commented on #102
@JPH71 Ahhh, hang in there. That sounds brutal. Sorry about the log. Here are the correct ones. Let me know if you need anything else. Get some rest!
[com.plexapp.agents.Fagalicious.log](https://github.com/CodyBerenson/PGMA-Modernized/files/6833528/com.plexapp.agents.Fagalicious.log)
[com.plexapp.agents.Fagalicious-2.log](https://github.com/CodyBerenson/PGMA-Modernized/files/6833529/com.plexapp.ag

[2021-07-20 07:08] jocklover opened #106 "General Matching Assistance"
I don't think these are related to #105 (but let me know if I'm wrong).
Having a few miscellaneous matching failure and looking for guidance.
Below are the most recent naming tries and record source. I have tried a few other variations but still not getting a match. THANKS

IAFD:
- (Gay Hoopla) - Ryan Love Gets Off Looking At His Asshole In The Mirror (2021).mp4 --> https://www.iafd.com/title.rme/

[2021-07-20 16:43] CodyBerenson commented on #106
Hi @jocklover thanks for reaching out!

I've tested and have some mixed results.  Some match for me fine with no intervention, some won't match, and some match when properly named.  I'll break this down:

Matched for me in IAFD using your naming:
- (Gay Hoopla) - Ryan Love Gets Off Looking at His Asshole in the Mirror (2021).mp4
- (Gay Hoopla) - Ripped Young Construction Worker Jerks Off (2020)

W

[2021-07-20 16:44] CodyBerenson commented on #105
Additional IAFD titles.

(College Boy Physicals) - Balls Deep (2020).mp4 --> https://www.iafd.com/title.rme/title=balls+deep/year=2020/balls-deep.htm
(College Boy Physicals) - X Ray Boner (2020).mp4 --> https://www.iafd.com/title.rme/title=x-ray+boner/year=2020/x-ray_boner.htm

[2021-07-20 18:30] CodyBerenson commented on #106
well, crap.  two of the waybig files are confusing github.  here is the screenshot of the properly named files for waybig

![image](https://user-images.githubusercontent.com/40373801/126376761-ea647ab9-4cde-4e97-a849-e276034ce463.png)

[2021-07-21 04:54] vampirelayer opened #107 "Fagalicious is not matching scenes anymore?"
[com.plexapp.agents.Fagalicious.log](https://github.com/CodyBerenson/PGMA-Modernized/files/6852897/com.plexapp.agents.Fagalicious.log)

Affected scenes are:
https://fagalicious.com/timtales-tim-kruger-fucks-benjamin-king/
https://fagalicious.com/belami-kevin-warhol-bottoms-vadim-farrell-kris-evans/
https://fagalicious.com/falcon-studios-cole-connor-felix-fox-making-the-grade/

[2021-07-21 13:04] CodyBerenson commented on #107
@jph71 I get the same results.  Fagalicious seems to have stopped working.  Will you take a look, please?

[2021-07-22 23:13] JPH71 commented on #107
will do...

On Wed, 21 Jul 2021 at 14:05, Cody Berenson ***@***.***>
wrote:

[2021-07-23 04:44] jocklover commented on #106
Thank you for the follow-up. Those tips solved all of those issues.
- I thought I was seeing issues w/ the [] & # symbols and actually did get a bunch of matches without them.
- Also, ended up switching sources since the Identical Twins was going to need that ridiculous studio title.

Here are more IAFD matching issues. These are absolutely ridiculous titles and I have exactly copied/pasted as wel

[2021-07-28 11:13] j-ktz opened #109 "Plex Image Cropper URL not working"
Hey @CodyBerenson, not sure if it's just me but the URL to crop images doesn't seem to be working anymore. Can you check?

[2021-07-28 12:02] CodyBerenson commented on #109
@j-ktz will do.  Google cloud stopped giving year free hosting and lowered it to 90 days.  It could be that the 90 days has expired and I need to set up another Thumbr instance.  I'll check and let you know.

[2021-07-28 13:07] CodyBerenson commented on #109
@j-ktz
hello again, bad boy.  The 90 day free clock had expired.  new account, new thumbor instance, new 90 days.  please update your registry expression's thumbor web address and kill and restart your PMS:

http://34.86.184.21:8888

![image](https://user-images.githubusercontent.com/40373801/127325784-98abc3a1-85cd-40dd-9bd2-fafde6e609a8.png)

Thanks for calling attention to this.

p.s. for anyon

[2021-07-28 13:20] CodyBerenson commented on #109
Master repository updated.  We'll leave this bug open for a few days for folks' awareness.

[2021-07-28 21:38] j-ktz commented on #109
Thanks for the quick fix, @CodyBerenson!

[2021-07-28 23:22] JPH71 commented on #109
Cheers Cody!

On Wed, 28 Jul 2021 at 22:39, j-ktz ***@***.***> wrote:

[2021-07-30 17:43] JPH71 commented on #106
Waybig - Matches:
(Gay Hoopla) - Matt Mason A.K.A. CreamyGorilla [Mystery Model #70] (2020)
(Gay Hoopla) - Identical Twins Dee King & Jay King Cum Simultaneously (2021)
(Gay Hoopla) - Brock Perry [A.K.A. Mystery Model #68] (Young Body Builder
Jerks Off) (2020)
(GayHoopla) -  Roman Austin Strokes His Soul Out! [The Most Intense Cumshot
Ever!] (2021)

On Fri, 23 Jul 2021 at 05:44, jocklover ***@***.

[2021-07-30 17:59] JPH71 commented on #107
Starting to look at faglicious now!

[2021-07-30 19:00] j-ktz commented on #107
Bless you, King. 👑 

On July 30, 2021, GitHub ***@***.***> wrote:

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/CodyBerenson/PGMA-
Modernized/issues/107#issuecomment-890060245>, or unsubscribe
<https://github.com/notifications/unsubscribe-
auth/AOEY5RC6PQ2LZPY4IAH2G23T2LR7JANCNFSM5AXFRJOQ>.

[2021-07-30 20:52] #106 closed

[2021-08-01 23:50] CodyBerenson commented on #105
@jocklover
Hey dude, hope all is well.  I'm working on packaging up a new release.  @jph71 has fixed the IAFD issue that affects these types of filenames.  Please note:  in your screenshot, Barrett is misspelled...I see you tried to trick me.  LOL.  Otherwise, all of the titles in this issue now match.

Please note:  You are correctly using dash space rather than space dash space for the colon in

[2021-08-01 23:51] CodyBerenson commented on #107
@vampirelayer @j-ktz
Hello gents.  @JPH71  has made the fixes to Fagalicious and I've tested.  I'm bundling the agents up in a new release now.  Please be on the lookout.  I'll leave the issue open for a couple days after the release and then close it out.

Cheers

[2021-08-01 23:53] CodyBerenson commented on #102
@j-ktz
Hey youngin',

@jph71 has made a fix to fagalicious that fixes the above two titles you mention.  I'm bundling up a release now and will post it soon.  I'll close this issue in a couple of days.

Cheers!

[2021-08-02 00:54] j-ktz commented on #102
Awesome. Thanks boys! I'll test and report back. @JPH71 @CodyBerenson

[2021-08-02 04:50] vampirelayer commented on #109
This has started to work. Thanks y'all!

[2021-08-02 04:50] vampirelayer commented on #107
This is working now! Thanks.

[2021-08-02 17:19] j-ktz commented on #107
Can't speak to @vampirelayer's issue, but I threw a bunch of titles at it and it worked for me!

[2021-08-13 17:24] ScoBoXxX opened #110 "Waybig matching issues"
I have been noticing some issues with pulling poster artwork lately.  It seems random and only for scenes so far, and specifically to Waybig matches I think.  Some work fine, others don't.

The following examples are not pulling the posters/artwork.  They seem to match OK but just not pulling poster.  Description and actors and IAFD icons are all there just no images.

(Helix Studios) - Keagan Cas

[2021-08-13 20:38] CodyBerenson commented on #110
Hello @ScoBoXxX !!

Glad to hear the agents are working out for you!  I did just test both of these examples, and they return the artwok fine for me:

![image](https://user-images.githubusercontent.com/40373801/129415305-f1ba21b6-c537-4381-b47b-3e7ab15ba1e4.png)

@jph71 probably will need to see the WayBig log when it happens again, since I'm not able to replicate it.  :(

Questions:

1. Where app

[2021-08-13 20:41] #109 closed

[2021-08-13 20:41] #107 closed

[2021-08-13 20:41] #105 closed

[2021-08-13 20:41] #102 closed

[2021-08-14 02:54] jocklover commented on #105
YES, issue resolved!!! thanks!!!
I did find a few misspelled issues on my part, but massive pairing success.

[2021-08-14 16:17] ScoBoXxX commented on #110
I am in the US.  This has been working great for me for a long time.  Just recently this issue has come up.  I just dl a few more files and they are not matching properly either.  This started after I updated the agents.  I will try to re-do the agent setup from scratch and see if that helps.

Where can I find the Waybig log?

[2021-08-14 16:39] CodyBerenson commented on #110
@jph71 would you look at the log please and see if anything seems out of sorts?

@ScoBoXxX as a workaround, not ideal I know, but you can use the thumbor code inline to bring a cropped poster:

1. in notepad, paste the thumbor link:  http://34.86.184.21:8888/unsafe/0x0:800x1200/
2. right click on the poster in waybig and copy link
3. append it to the end of the above link
4. copy all of it as the

[2021-08-14 17:11] ScoBoXxX commented on #110
All of that works fine.  I went through the logs (I am by no means qualified to do so lol) and I found this URL for the thumbor service: **http://35.232.232.183:8888/unsafe/0x0:800x1200/**https....etc
Since my memory fails me I have to assume that I piece-mail updated the agent plugins and somehow this URL was never updated.  I'm going to delete and reload all the agent plugin folders and see if t

[2021-08-14 18:22] CodyBerenson commented on #110
@ScoBoXxX
Please download and install the latest agents. This address was updated a couple weeks ago (issue #109).  Please remember to completely kill your Plex media server, and then restart it. You can double check that the address is correct in the settings for each of the scenes agents.

![image](https://user-images.githubusercontent.com/40373801/129456721-3be0b4b5-11d6-4bb5-9d53-2b3beb66d79f.

[2021-08-16 16:30] ScoBoXxX commented on #110
That'll be the last time I piece-mail my agent updates :)
Seems to be working better now.  Thanks!

[2021-08-16 16:46] #110 closed

[2021-10-27 19:43] j-ktz opened #113 "Poster URL broken?"
Hey Boys,

Scrapers pulling in data but not posters today. When I try to access the URL, it doesn't load. Is it down?

[2021-10-31 00:56] j-ktz commented on #113
Thanks Cody!

[2021-10-31 01:04] j-ktz commented on #113
LOL.. See you in the next 90 days. I'm around!!! Anything I can help with? :)

[2021-10-31 17:18] CodyBerenson commented on #113
Careful…thats a wide open offer…

[2021-10-31 17:24] j-ktz commented on #113
I mean it! Always here to help test or whatever. Just ping me. 

On October 31, 2021, GitHub ***@***.***> wrote:

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/CodyBerenson/PGMA-
Modernized/issues/113#issuecomment-955757606>, or unsubscribe
<https://github.com/notifications/unsubscribe-
auth/AOEY5RHVPS5WBFA5T7EKC3LUJV3APANC

[2021-10-31 18:57] ScoBoXxX opened #114 "GEVI not matching after last update"
I'm having trouble with GEVI matching full films.  Scene agents are matching fine, just GEVI it seems.  I have three titles below that are not matching.  I was able to match Uncle Bobby fine on another PMS server.  Link to GEVI agent log attached.  It looks like it is finding the title but the entry in Plex is not updating at all.  No info, summary, poster, nada.  I removed all the plugins and rei

[2021-11-01 03:32] CodyBerenson commented on #114
Hi @ScoBoXxX

Hope this finds you well.  Thanks for calling this to our attention.  Jason coded a Fix that I tested with about two dozen titles.  Should be good to go with fix that was just pushed to the master repository.

I'll leave this bug open for a couple of days for folks' awareness.

Cheers!

[2021-11-01 03:44] CodyBerenson commented on #114
@ScoBoXxX

p.s. The three files you cite above match fine with this update:

![image](https://user-images.githubusercontent.com/40373801/139618866-37b03967-d30c-45b6-bb10-3a7a2ed5460a.png)

[2021-11-02 16:37] ScoBoXxX commented on #114
Confirmed - thanks guys!  Always amazing :)

[2021-11-03 20:46] #113 closed

[2021-11-03 20:47] #114 closed

[2021-11-19 01:32] j-ktz opened #115 "IAFD Struggling to Match"
The last six scenes haven't matched. Getting this error:
`IAFD - UTILS :: FFProbe Error: Duration Matching will be skipped: [Errno 2] No such file or directory`

Log attached
[com.plexapp.agents.IAFD.log](https://github.com/CodyBerenson/PGMA-Modernized/files/7567156/com.plexapp.agents.IAFD.log)
.

[2021-11-20 16:19] joca879 commented on #115
Hi @j-ktz
Hope you're well!
I've sent you an email. Give it a look when possible.
Thanks

[2021-12-08 13:00] j-ktz commented on #115
@joca879 Will do!

Any update on this boys? Let me know if  I can help in any way!

[2021-12-08 13:18] CodyBerenson commented on #115
hiya @j-ktz  hope you are well.

I'll defer to @JPH71 on the timing for the fix to this plus a similiar fix needed to AEBN.  Until then (if you haven't already), I suggest you pull the IAFD version before the last release that introduced the issue...I tried it, and its working fine.  The AEBN workaround (turn off timing checking in the RegEx) doesn't work for IAFD, so you actually need to delete t

[2021-12-09 21:32] j-ktz commented on #115
@CodyBerenson Hanging in there. Happy Holigays! I'd be happy to revert to the old IAFD and AEBN agents in  the meantime. Do you know how I download old versions? Sorry, Githhub newbie. I only see the current agents in the master zip.

[2021-12-10 16:35] CodyBerenson commented on #115
@j-ktz
The current AEBN works, but only if you uncheck the timing option in the RegEx (Match against Site's recorded film/scene length, Note: IAFDs entry is always matched)

Here are the instructions to get to older IAFD or IAFD and AEBN code:

1. From the code tab, click on the IAFD.bundle.
2. Click on the History button in the upper right hand corner
3. The October 19, 2021 release is what is br

[2021-12-11 02:24] j-ktz commented on #115
@CodyBerenson Thank you sir! Worked perfect.

[2021-12-11 14:49] JPH71 commented on #115
@j-ktz <https://github.com/j-ktz>

Could you send me the download link of any of the movies that failed with
the current AEBN iii version.
Each movie extension type stores its length differently and this sometimes
seems to change depending on when the movie was encoded.
I can then sort this out and make sure that it is not common to all
scrapers, as the code determining the length of videos is in

[2021-12-13 13:02] j-ktz commented on #115
@JPH71 I can! How should I send you links? Email?

[2021-12-17 13:54] JPH71 commented on #115
yes email ... ***@***.***

On Mon, 13 Dec 2021 at 14:02, j-ktz ***@***.***> wrote:

[2022-01-08 00:55] dulinnan commented on #20
double posting as I've commented on @codeanator's fork:

Thanks for all your effort first of all! Not sure how you or the original author implemented this Thumbor service, but from what I saw, it seems to me that this Thumbor is living on a Python/Tornado server. Processing image is a particular use case for taking a more serverless approach, given that most of the time, image processing is handle

[2022-01-09 18:21] CodyBerenson commented on #20
@dulinnan Hi there, thanks for the suggestion. I’ll look more into when I return home from holiday in Spain. One note though: there is no current operational cost because we use GCP’s free-trial service and just initiate a new one when it expires.It isn’t elegant because we quarterly have to update the thumbor address.  I'm ok personally paying GCP a nominal amount to keep a stable image processin

[2022-01-12 07:07] dulinnan commented on #20
Hi @CodyBerenson Hope you are having a wonderful time in Spain! Greetings from New Zealand Aotearoa!
Sorry I didn't know you are putting your own money into this project. I appreciate it a lot and at the same time, I don't think it is fair for you to do this for all of us.

Being cost-conscious myself, I have leaned towards a more serverless approach for my personal projects. Matter of fact, I jus

[2022-01-14 19:56] ScoBoXxX opened #118 "Looks like GEVI is not matching again"
Seems like I complain a lot about GEVI :(  But it appears to have stopped matching again.  I believe it worked yesterday but this morning I cannot match any full films.  I pretty much only match from GEVI for full films.  I have verified the file names and all that.  The logs indicate errors in matching the file names and ultimately resulted in no match.  I can provide those if necessary but thoug

[2022-01-15 17:42] CodyBerenson commented on #118
@ScoBoXxX Thanks for letting us know.

@JPH71 Looks like GEVI has made some change to their site. Here’s a log for a test file.

[com.plexapp.agents.GEVI.log](https://github.com/CodyBerenson/PGMA-Modernized/files/7875476/com.plexapp.agents.GEVI.log)

[2022-01-17 00:47] JPH71 commented on #118
@ScoBoXxX <https://github.com/ScoBoXxX> - thanks for letting us know - if
no one complains we would have missed it....
The updated contents are with Cody for final testing and upload into the
repository

Jason

On Sat, 15 Jan 2022 at 17:42, Cody Berenson ***@***.***>
wrote:

[2022-01-17 10:53] CodyBerenson commented on #118
Since I'm still on holiday in Spain, I performed only limited testing. The master repository has been updated. Cheers!

[2022-01-17 19:30] JPH71 commented on #115
Hi @j-ktz <https://github.com/j-ktz>

Checked the issue - the reason you are getting this error is because you
have not installed FFMPEG, this has to be done and the executable FFProbe
has to be in the path variables.
You will have to do this in your linux system or edit line 112 of the
utils.py program and put the full path to ffrrobe.....

Luckily you spotted this error as I found an error furth

[2022-01-17 19:30] JPH71 commented on #115
Hi @j-ktz <https://github.com/j-ktz>

Latest bundle is with Cody!

On Mon, 17 Jan 2022 at 19:29, Jason Hudson ***@***.***> wrote:

[2022-01-18 18:37] #118 closed

[2022-01-19 13:35] jxakbtfocf opened #119 "SEARCH:: Error: in various agents"
I've tried agents GEVI, AEBN, AdultFilmDatabase and in all of them I can get a match but no metadata.

Every time there is this  ERROR (logkit:22).

[code]

[2022-01-19 14:18] JPH71 commented on #119
I will look at it this evening.
Could you initialise the log file and refresh metadata for the individual
film.
But before running the refresh stop then start the Plex Media Server.
Then send me GEVI's log.

Many thanks,

Jason

On Wed, 19 Jan 2022 at 14:35, jxakbtfocf ***@***.***> wrote:

[2022-01-19 14:38] jxakbtfocf commented on #119
Thank you, here is the log.

[com.plexapp.agents.GEVI.log](https://github.com/CodyBerenson/PGMA-Modernized/files/7897915/com.plexapp.agents.GEVI.log)

[2022-01-19 18:05] JPH71 commented on #119
This one has really stumped me....
On my system it goes past and that error does not show up...
Does this error occur for all titles you are matching or just this one?

if it is just this one, try opening a cmd prompt and type the name of the
title afresh, copy it and then rename the file in windows.
Also move the file to a new folder then try and refresh the metadata.

Here is my log to show you

[2022-01-19 21:17] jxakbtfocf commented on #119
It does happen to every tittle I tried.

I inserted some log messages and found out where the code is breking.
Its in the function getFilmInfo at
ffprobe = subprocess.Popen(command, stderr=subprocess.PIPE, stdout=subprocess.PIPE )

[2022-01-19 21:28] jxakbtfocf commented on #119
I have installed ffprobe and set a windos path for it and now I don't get the error anymore.

[2022-01-19 22:47] #119 closed

[2022-01-20 00:05] JPH71 commented on #119
FFprobe is going to be retired very soon...
Codeanator shared some code with me which uses Plex's inbuilt methods....
The code should be with Cody this weekend!

Cheers

Jason

On Wed, 19 Jan 2022 at 22:47, jxakbtfocf ***@***.***> wrote:

[2022-01-21 21:19] j-ktz commented on #115
Thanks sir!

[2022-01-21 21:19] #115 closed

[2022-02-02 01:39] j-ktz opened #120 "Thumbor broken"
Does not seem to be working for me. Is there a new address?

[2022-02-02 15:07] CodyBerenson commented on #120
@j-ktz Thanks for the head's up.  Here's the new address, update in the Scene Agents RegEdit, restart PMS, and see you in 90 days.  ;)

http://34.86.202.9:8888/unsafe

@jph71 Will you update the Scene agents?  Thanks!

[2022-02-02 19:29] JPH71 commented on #120
@cody will do...
I have made changes to utils.py which @cideAnator suggested, so loads will
come your way xxxx

On Wed, 2 Feb 2022, 16:07 Cody Berenson, ***@***.***> wrote:

[2022-02-02 20:25] CodyBerenson commented on #20
@dulinnan
Hi, Finally back from Spain and jetlagged as hell!  I'm not very cloud savvy....but I don't see how the serverless approach can be implemented without a cloud provider account and therefore a monthly fee.  Therefore, serverless or thumbor, we're still limited to the 90 day free trial accounts.  Am I missing something?

[2022-02-02 21:51] dulinnan commented on #20
Hi! Thanks for the reply!
And rest up!

As for the cloud provider, yes normally you do need an account and some
fees do occur but the way how I implemented the worker in my previous
comment requires only an account but zero fees as the free quotes is good
enough for this small community.

On Thu, 3 Feb 2022 at 09:25, Cody Berenson ***@***.***> wrote:

[2022-02-23 02:55] jocklover opened #122 "IAFD Matching"
Hello Again!
Thank you all for the great work on this agent, always impressed with its functionality and the work you put into it. Also, thank you for previous troubleshooting support.

I was away from matching my library for a bit but am back at it again. Found many of my questions/issues either in the Usage Guide or in Issues - so thank you!

However, I am seeing an issue matching IAFD scenes. I

[2022-02-23 03:07] jocklover opened #123 "Waybig Matching Issue - Title contains "At Studio" at the end AND a colon and won't match"
I believe I have followed the Usage Guide to name scenes where WayBig listed the studio last, however I am not seeing successful matches. I am guessing I am doing something wrong, but not sure on the error of my ways.

(Bromo) - Vadim Black Bottoms For Brad Banks In 'Cream For Me A Gay XXX Parody' Part 3 (2016)
https://www.waybig.com/blog/2016/10/23/vadim-black-bottoms-for-brad-banks-in-cream-for-

[2022-02-23 07:53] JPH71 commented on #123
I will get back to you this evening... in the meantime try dropping the
word PART

Jason xx

On Wed, 23 Feb 2022, 04:07 jocklover, ***@***.***> wrote:

[2022-02-23 07:54] JPH71 commented on #122
I will look into this, this evening xxx

On Wed, 23 Feb 2022, 03:55 jocklover, ***@***.***> wrote:

[2022-02-25 04:05] CodyBerenson commented on #122
@jocklover

The current IAFD agent does not work.  Please see the work around in issue #115.

[2022-02-25 04:41] CodyBerenson commented on #123
@jocklover

I don't believe the Waybig agent handles the combined scenarios of 1) "at Studio" at the end of the title, and 2) a colon embedded as part of the title.  This is the scenario in each of these titles.  Out of the six titles you provided, I was able to get two to match...:

(Str8-To-Gay) - My Best Friend’s Husband (Jimmy Fanz & Vadim Black) (Part 4) (2015).mp4

(Vadim Black Fucks Allen K

[2022-02-25 04:53] jocklover commented on #122
[f8d8771](https://github.com/CodyBerenson/PGMA-Modernized/commit/f8d8771809d6b619f9e356e55bfcbfa7368c4abd) fixed the issue, thanks. I'll keep an eye out for a future update.

[2022-02-25 04:53] #122 closed

[2022-02-25 05:22] jocklover commented on #123
Definitely appears to be the issues, I have run into a hole nother list of identical issues - has a colon and ends with at Studio.
I have switched most of these over to QueerClick matches to get the metadata. (Just don't love they don't include scene titles.) The only outstanding title is "(Bromo) - Vadim Black, Tom Faulk & Tobias Tag-Team James Edwards In 'Cream For Me A Gay XXX Parody' Part 4 (2

[2022-02-25 12:25] JPH71 commented on #123
I will sort out this conumdrum...

On Fri, 25 Feb 2022, 06:23 jocklover, ***@***.***> wrote:

[2022-02-25 17:05] CodyBerenson commented on #123
@JPH71 Terrific.  I'll leave this issue open for future resolution.

@jocklover   I'm probably not suggesting anything you don't already know...When I can't get the match that I'm looking for from a given site (e.g., WayBig), I will go ahead with my Plan B or Plan C (e.g., Fagalicious, or IAFD) and then manually update the Title and/or Summary using Plex's built in functionality, and use Thumbor t

[2022-02-25 17:11] CodyBerenson opened #124 "AdultFilmDatabase Agent has stopped working"
@JPH71 The AdultFilmDatabase Agent has stopped working.  I'll pull the Agent from the repository until you are able to sort it out.

Cheers!

[2022-02-25 17:22] JPH71 commented on #123
I prefer watbig too... I will look into it and resolve the issue

On Fri, 25 Feb 2022, 18:06 Cody Berenson, ***@***.***> wrote:

[2022-02-25 18:16] #120 closed

[2022-02-25 18:17] CodyBerenson commented on #122
@jocklover the fix to IAFD has been pushed to the master repository

[2022-02-25 18:18] CodyBerenson commented on #115
@j-ktz the fix to IAFD and AEBN have been pushed to the master repository

[2022-02-26 09:53] vampirelayer opened #127 "CRITICAL (runtime:1299) - Exception getting hosted resource hashes"
hi, for a week now I can't seem to be able to match films in GEVI, which used to be one of the more reliable plugins.

Looking at the logs it looks like whenever I restart PMS it was unable to load any plugins, including the regular ones.

I have updated both PMS and all the plugins as of 16 hours ago.

The version of PMS I have is `Version 1.25.6.5577-c8bd13540`

See exception message:

`2022-02-

[2022-02-27 00:26] vampirelayer commented on #127
This seems to be working after I restart the PC. Will continue to observe and close.

[2022-02-27 00:55] vampirelayer opened #128 "Titles not matching"
I have two titles that are not matching, even though I'm pretty sure the format is correct. Would appreciate a second pair of eyes to look at it.

1. The title exists here `https://www.gaydvdempire.com/2749894/all-sex-party-gay-porn-movies.html?partner_id=56800950`
my file name definitely looks correct `/Volumes/TerraMaster Storage RAID 0/Others/Full Films/(Lukas Ridgeston) – All Sex Party (2020).

[2022-02-27 06:25] jocklover commented on #128
I am only slightly above noob with this, but I think I have a solve for the Falcon Collection, you need to use "dash space" instead of "space dash space" mid title:
(Falcon Studios) - Falcon Collection- 1980s Vol. 1 (1995)

[2022-02-27 13:34] CodyBerenson commented on #128
@vampirelayer
Re:  1.  (Lukas Ridgeston) – All Sex Party (2020).mp4, it matches perfectly on my system and my log results look different than yours.  Can you please stop PMS, restart, try a "fix match" and then attach the actual GayDVDEmpire log.  @jph71 will need the full log.

Re: 2. Naming stacked files.  Please see page 13 of the usage guide.  The most recent update to the agents included stan

[2022-02-27 13:40] CodyBerenson commented on #127
@vampirelayer
This one freaked me out a bit.  I hadn't updated either of my PMS in a while so I updated them both to the current version you cite above.  It took reboots of both my Windows workstation, and my FreeNAS Server that host my two PMSs to get either to function...but then, as you say, both finally started after the reboots.  I don't recall a Plex update requiring an actual reboot before.

[2022-02-27 22:55] JPH71 commented on #128
@vampirelayer
mine - (Lukas Ridgeston) - All Sex Party (2020)
yours -(Lukas Ridgeston) – All Sex Party (2020)

You had a long dash rather than a short dash i.e. minus sign

You can also name your files as follows:
(Falcon Studios) - Falcon Collection - 1980s 1 (1995) - DVD 1.avi
(Falcon Studios) - Falcon Collection - 1980s 1 (1995) - DVD 2.avi

The word Vol, Volume, Parts are not used in matching

[2022-02-27 22:59] JPH71 commented on #123
Issue solved - Cody will have the updated agent in a couple of minutes or so...
Thank you for this as I found 2 errors resulting from this - matching on studio and on title. because of the : and at in the title..
Also sorted out an issue with tags.... tags which have colons in them are disregarded as they could not be an actors name...

[2022-02-27 23:22] JPH71 commented on #103
@InSanniti : This issue shoudl now have been resolved... I was going through all the issues this evening...
Please confirm and we can close this...

[2022-02-27 23:25] JPH71 commented on #93
@crospa91 - Is this sorted out??

[2022-02-27 23:42] crospa91 commented on #93
Hey there.
The issues seems getting better but i still find the agent very oddly not recognising movies and scene. I know the naming need to be precise but even if i try manually to search for scene, the results are quite sparse with “non standard” scenes.

But i guess there is no solution for that…

Sent from my iPad

[2022-02-28 00:09] #127 closed

[2022-02-28 00:15] vampirelayer commented on #128
You're right! Had used a minus instead of a dash!
And with the files renamed properly it's all working now.

[2022-02-28 00:15] #128 closed

[2022-03-05 06:38] jocklover opened #131 "Suggestions to Prevent Title Loss?"
Working with CockSureMen scenes from IAFD. They titles are only "_Actor on Actor_" and not an actual title (and no AKA title listed either). I don't want to loose the titles. Are there suggestions on file naming or other solutions to accomplish this?

I have tried _**(Studio) IAFD Title (year) Actual Title**_ and _**(Studio) IAFD Title Actual Title (year)**_, both to no avail.

Here are a couple s

[2022-03-05 06:58] jocklover opened #132 "IAFD Match Failures"
Getting a few issues matching titles in IAFD. Any thoughts?

No title from SayUncle's MilitaryDick are matching (8 scenes tried). No issues w/ any other SayUncle studio.
Here are a two samples:
(MilitaryDick) - A Naughty Cadet (2021)
https://www.iafd.com/title.rme/title=naughty+cadet/year=2021/naughty_cadet.htm
(MilitaryDick) - Heavy Load (2022)
https://www.iafd.com/title.rme/title=heavy+load/year

[2022-03-05 07:24] jocklover opened #133 "Using Extras for Multiple Scenes"
I am struggling to get the Extras functionality (method 2 from guide) to work correctly. I am not getting the additional scenes to show up in Plex. I have tried a fiddling with the config to see if I missed something, but no luck. :(

_Master Folder_: (Dream Boy Bondage) - Austin Young- Daddy's Boy (2019)
_Level 1 Video_: (Dream Boy Bondage) - Austin Young- Daddy's Boy (2019) Scene 1 _(was Chapter

[2022-03-05 12:11] JPH71 commented on #131
Try this:  (CockSureMen) -  *When I'm Next To You* - *Andrew Crime
Barebacks Alex Vichner* (2016)

ensure that you enable collections from filenames snd you have a
space-dash-space after the *embolden* text

Jason xx

On Sat, 5 Mar 2022 at 07:38, jocklover ***@***.***> wrote:

[2022-03-05 12:12] JPH71 commented on #132
I will look into this!

On Sat, 5 Mar 2022 at 07:59, jocklover ***@***.***> wrote:

[2022-03-05 12:16] JPH71 commented on #133
The scenes should be suffixed like this

   - (Dream Boy Bondage) - Austin Young- Daddy's Boy (2019) Chapter 3
   *-scene*

You have to have Local Media ticked and topmost in the list....
I think all files can be in the same folder...

Jason xx

On Sat, 5 Mar 2022 at 08:24, jocklover ***@***.***> wrote:

[2022-03-05 13:59] CodyBerenson commented on #133
@jocklover  Good catch.  As Jason says, the most recent version of the agents now requires a - before the scene (the Plex standard functionality that the usage guide was written to did not).

I'll update the usage guide.

[2022-03-05 14:10] CodyBerenson commented on #133
@JPH71 Jason, he is referring to Method 2 (Page 33) in the usage guide, using Plex's standard functionality to place extras in a sub folder.  I'll test to see if this functionality still works.

It is true that the recent release broke Method 1 (Page 30) by now requiring a - before Scene vs. Plex's standard naming convention for stacking which the usage guide had been written to;  therefore I'll u

[2022-03-05 14:41] CodyBerenson commented on #133
@jocklover
I just tested using *EXACTLY* your setup above with one slight change, and it worked perfectly.  For the file in the Level 1 folder, you have to use the new naming convention...i.e. - Scene 1:
(Dream Boy Bondage) - Austin Young- Daddy's Boy (2019) - Scene 1

It does not matter what you name the files in the level 2 "Scenes" folder .  The contents display as "Extras", underneath the acto

[2022-03-05 15:08] JPH71 commented on #133
The stacking guidance you gave is correct.
There are other suffices to use like -behindthescenes and -extras
These then show up like like extras on the films title page...

On Sat, 5 Mar 2022, 15:10 Cody Berenson, ***@***.***> wrote:

[2022-03-05 16:21] JPH71 commented on #133
Cody just notified me that when he read the message the bullet point was
showing up as an asterisk....

On Sat, 5 Mar 2022, 13:15 Jason Hudson, ***@***.***> wrote:

[2022-03-05 18:43] jocklover commented on #133
THANK YOU - we have success!
A few notes:
- I did use " - Scene 1" in Folder 1
- I did enable Local Media Assets
- **Disabled duration check** (with Plex app restart). I was not getting IAFD metadata, checked log, and it was looking for the full 83 minute title duration not the 17 minute scene duration.
- Also, kept the "extra" scene videos as "Chapter #" w/ no issue

This is a huge unlock for me

[2022-03-05 18:43] #133 closed

[2022-03-05 18:47] JPH71 commented on #133
Brilliant,  you are very welcome...
Let us know whenever you hit a problem xxxx

On Sat, 5 Mar 2022, 19:43 jocklover, ***@***.***> wrote:

[2022-03-05 19:19] jocklover commented on #131
With your suggestion and a little fiddling, I found the solution is:
(Studio) _Actual Title_ - **IAFD Title** (year)
_(This is one time that you **do** want "space dash space")_

So the sample titles above become:
(CockSureMen) - Claiming You - Andrew Lewix Barebacks Ryan Volta (2017)
(CockSureMen) - When Im Next To You - Andrew Crime Barebacks Alex Vichner (2016)

The PLEX title presents as _Stud

[2022-03-05 19:19] #131 closed

[2022-03-05 19:28] JPH71 commented on #131
Perfect x

On Sat, 5 Mar 2022, 20:19 jocklover, ***@***.***> wrote:

[2022-03-06 20:59] CodyBerenson opened #134 "Best Exclusive has moved from http:: to https:"

[2022-03-06 21:01] #134 closed

[2022-03-07 03:07] jocklover commented on #123
Thanks for the work on this and the updates!
Unfortunately, it seems there may be an unintended side effect with this title:

(MEN Series) - Johnny Rapid, Luke Adams & Vadim Black In 'Men At Sea, Part 3' (2015)
https://www.waybig.com/blog/2015/12/13/men-johnny-rapid-luke-adams-vadim-black-men-at-sea/

Log seems to indicate that the Site Studio is "sea, part 3" (log file below)

[WayBig Log.log](ht

[2022-03-07 06:43] jocklover opened #135 "IAFD Matching Issue w/ "1" in Title"
There appears to be an issue w/ IAFD matching when there are is the number "1" in the title.

Reviewing the log, I see the search URL for titles w/ "1" drop the "1" from the search URL, however it is retained for 2+.
Title: (BoyForSale) - Boy River 1- The Merchandise (2019)
IAFD page: https://www.iafd.com/title.rme/title=boy+river+1%3a+the+merchandise/year=2019/boy-river-1-the-merchandise.htm
Log

[2022-03-07 06:45] jocklover commented on #132
Feel like I should give up after this one!
While looking at #135 I rechecked these to see if there was a correlation.... and all of these match just fine now. No change to file name, just dropped back into to library or refreshed metadata. No clue, but will close this one out. Thanks again.

[2022-03-07 06:45] #132 closed

[2022-03-07 07:05] JPH71 commented on #135
That is correct..
This is catered for in the comparison too of the title...

On Mon, 7 Mar 2022, 07:43 jocklover, ***@***.***> wrote:

[2022-03-07 07:08] JPH71 commented on #123
Did it match?
This was a quick fix... and the logging will also need to be tweaked...

On Mon, 7 Mar 2022, 04:07 jocklover, ***@***.***> wrote:

[2022-03-07 08:09] jocklover commented on #135
If I understand correctly, you are referring to comparing returned results to file name.
The issue I am seeing is that _no results_ are being returned to be compared to when the "1" is missing from the search URL.

Here is a sample log result:
[IAFD No Results - 1 in Title.txt](https://github.com/CodyBerenson/PGMA-Modernized/files/8195858/IAFD.No.Results.-.1.in.Title.txt)

[2022-03-07 08:11] jocklover commented on #123
The target titles from the beginning of this thread match correctly.
However I am seeing a new failure resulting from this update.

[2022-03-07 11:38] JPH71 commented on #135
I will check this out and get back to you...

On Mon, 7 Mar 2022, 09:09 jocklover, ***@***.***> wrote:

[2022-03-07 15:27] jocklover commented on #123
See above, titles that include "at" in the name are being split off as the
studio incorrectly.

On Mon, Mar 7, 2022, 5:39 AM JPH71 ***@***.***> wrote:

[2022-03-07 19:18] CodyBerenson commented on #123
@jocklover , @JPH71

Hi, Jason suggested that I revert to the previous version of WayBig and he will look for alternative means to fix this bug.  So, I've reopened the bug, and will revert the WayBig code momentarily.

Cheers!

[2022-03-08 13:21] CodyBerenson commented on #123
@jocklover @JPH71

Good morning.  Jason has coded a fix for "At Studio" at the end of a title without breaking "at" anywhere in the title.  I have uploaded it into the "Beta" Branch.  From the Code tab, switch the Branch from "master" to "Beta" to try it out.

In a few days, I'll merge Beta into master.

Cheers.

[2022-03-10 07:11] jocklover commented on #123
All test titles are matching, both with "at Studio" and "at _not Studio_" in their title.
Thanks for the work on this obnoxious naming issue. :)

[2022-03-10 07:11] #123 closed

[2022-03-10 10:48] JPH71 commented on #123
Thanks for spotting it!

On Thu, 10 Mar 2022 at 08:12, jocklover ***@***.***> wrote:

[2022-03-11 02:29] jocklover opened #137 "Dual Studio Not Working"
In the course of trying to get a WayBig & IAFD dual match, I tried using the dual studio functionality listed on p16-17 of the Usage Guide: (**Studio**;_IAFD Studio_) Based on the logs, it appears that the WayBig & IAFD agents are both using the first studio for matching.
I may be missing something, but I think I am reading the logs correctly. The logs are here:
[Dual Studio Logging - WayBig.txt](

[2022-03-11 15:52] CodyBerenson commented on #137
@jocklover Thanks for bringing this to our attention.  This issue isn't relating to "dual studio".  The issue just seems to be that the IAFD calls, as part of dual studio or not, are not currently working, period.

@JPH71 Can you look into IAFD?  I just tested two titles specifically for the IAFD agent and they don't match.  Same results as in his WayBig.txt log above.  I think you'll see the prob

[2022-03-12 01:20] jocklover commented on #137
I see how that is a problem that was occurring in the logs where the Site Title URL is bad.

However, I still think the wrong Studio is being used for the IAFD matching when 2 Studios are listed. From the IAFD log above, the Film Dictionary Variables are:
FileName: (NextDoorBuddies;Next Door) - Best Buds (2021)
CompareIAFDStudio: nextdoorbuddies
CompareStudio: nextdoorbuddies
Studio: NextDoorBuddi

[2022-03-12 01:30] JPH71 commented on #137
Yes, I will sort this out... together with a title matching error I
introduced in the last update...

Hopefully this will be sorted out this weekend.

Thanks for highlighting this
Xxx

On Sat, 12 Mar 2022, 02:20 jocklover, ***@***.***> wrote:

[2022-03-12 13:19] CodyBerenson opened #141 "Director ".fusion-body..." for sites without Director Data"
### Discussed in https://github.com/CodyBerenson/PGMA-Modernized/discussions/138

<div type='discussions-op-text'>

<sup>Originally posted by **jfreiman** March 11, 2022</sup>
I have an annoying issue that some videos which get matched (multiple sites) do not contain a Director and instead of leaving the Director Tab blank, it leaves a long string of code beginning with, ".fusion-body..." and cont

[2022-03-12 13:21] CodyBerenson opened #142 "IAFD has changed how it handles links and broken the agents"
IAFD has changed how it handles links and not only broke the IAFD agent, but all of the agents' search/scrape/retrieve functionality with respect to IAFD.

[2022-03-12 13:26] #142 closed

[2022-03-12 13:59] JPH71 commented on #141
The gayworld.org site has been taken down.
so no need to fix this agent.
Fix has been applied to GayMovie.Org

[2022-03-12 14:05] JPH71 commented on #93
Give me a list of movies and their URLs and I will check into it.

Jason

[2022-03-12 14:35] CodyBerenson commented on #137
@jocklover I think you'e slightly misunderstanding the functionality described on pages 16-17 of the guide, using the (Studio;IAFDStudio) portion of the file naming convention.  This is used to pull IAFD metadata into the data (i.e. role (top/bottom) )into the metadata scraped from the target matching site *_when IAFD lists a different studio than the target matching site for the same title_*.  If

[2022-03-12 19:49] jocklover commented on #137
Here is a test case I ran w/ the IAFD Studio listed as "Unused_Studio" to make it easier to trace vs above.
_File name: (Next Door Buddies;Unused_Studio) - Best Buds (2021)_
WayBig successfully matched, then called IAFD to get the additional metadata scrape.
In both logs there is no utilization of "Unused_Studio" as the IAFD Studio, and instead  entries in both logs indicating the IAFD Studio is "

[2022-03-13 10:47] jfreiman commented on #141
Here is another Director issue -- after using today's build.
**Pulse Distribution) - Top To Bottom 4 (2018).mp4**

`https://www.iafd.com/title.rme/title=top+to+bottom+4/year=2018/top-to-bottom-4.htm`

`.fusion-body .fusion-builder-nested-column-2{width100% !important;margin-top 0px;margin-bottom 20px;}.fusion-builder-nested-column-2 > .fusion-column-wrapper {padding-top 0px !important;padding-righ

[2022-03-13 22:06] JPH71 commented on #141
Darned it... I will look at it now...
What agent scrapped the title?

On Sun, 13 Mar 2022, 11:47 jfreiman, ***@***.***> wrote:

[2022-03-13 22:30] jfreiman commented on #141
How cani tell ech which agent actually scrapped the title?
I for this Collection I have it set up ton use the Gay Adult Films selected - but I think you are wanting to know which 'additional' agent was used: Internet Movie Film Database, be HomoActive, etc.
How can determine which was used on a per title basis?
Is there someplace on GitHub or a forum I can view/participate on that well help me get

[2022-03-13 23:26] jfreiman commented on #141
Well, I think I included that information with my previous post.
IAFD
https://www.iafd.com/title.rme/title=top+to+bottom+4/year=2018/top-to-bottom-4.htm

[2022-03-13 23:33] JPH71 commented on #141
When you click on the movie and bring up its poster it will show the
website the information was retrieved from... at the end of the green tick,
red Cross legend...

On Mon, 14 Mar 2022, 00:26 jfreiman, ***@***.***> wrote:

[2022-03-13 23:45] jfreiman commented on #141
Well, many of my matches don't actually have the Cast Legend inserted into the Description - even though they are fully matched.
But with regards to this title, (Pulse Distribution) - Top To Bottom 4 (2018). I removed the match, cleared the bundles, rematched and it is fine - still matched with IADF's link in the Tagline. However, it doens't have the Cast Legend inserted.
I'm going through each Ag

[2022-03-14 00:01] JPH71 commented on #141
If theblegend is notat the start it should be at the end....

On Mon, 14 Mar 2022, 00:45 jfreiman, ***@***.***> wrote:

[2022-03-14 00:03] jfreiman commented on #141
I discovered where the (some) of the logs are, but I want able to find one for that incuded the erroneous Director data.
However here are three logs from the same tile, Top to Bottom 4, which I think are relevant.

Maybe they show why the Legend isn’t appearing?

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

________________________________
From: JPH71 ***@***.***>
Se

[2022-03-14 00:05] JPH71 commented on #141
Cheers man... I will look into this also... raise an issue in github xxx

On Mon, 14 Mar 2022, 01:03 jfreiman, ***@***.***> wrote:

[2022-03-14 00:05] jfreiman commented on #141
I’m referring to the, “:: Film on IAFD 👎 :: ✅ / ❌ Actor on Cast List? :: GayHotMovies ::”

What are you referring to … that should be at the end?

***@***.******@***.***

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: ***@***.***>
Sent: Sunday, March 13, 2022 5:01 PM
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [CodyBerenson/PGMA-Modernized] Direc

[2022-03-14 00:22] jfreiman opened #144 "Actor Thumbnails and metadata aren't retrieved in IAFD"
Cast Legends are not downloading for all titles.
Refreshing the Title/video does not retrieve the Legend.
It does download for many videos, but about 10-20% do not include the Legend even though it has a link left in the Tagline
I have attached the log for one of the Titles which isn't downloading the Legend
![Screenshot 2022-03-13 171213](https://user-images.githubusercontent.com/10014964/1580859

[2022-03-14 00:26] JPH71 commented on #144
Cheers xxx

On Mon, 14 Mar 2022, 01:22 jfreiman, ***@***.***> wrote:

[2022-03-14 20:33] CodyBerenson opened #147 "GEVI has implemented CAPTCHA and has broken our agent"
GEVI has implemented CAPTCHA, likely to stop services such as ours.  The GEVI agent is now broken.

[2022-03-14 21:15] JPH71 commented on #141
Thats what I was referring too as you can see that title was scrapped by GayHotMovies...

That line can either be at the top or at the bottom of the film summary text...

[2022-03-14 22:07] jfreiman commented on #141
🌝 I later realized that the box I was checking in the Plex Settings, Agents was to move the legend to the top, not it 'included.'
Thank you for your patience and eagerness to follow-up on my inquiries.

Sent from my T-Mobile 5G Device (yeah, it's really THAT fast)
Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: JPH71 ***@***.***>
Sent: Monday, March 14, 2022

[2022-03-17 14:18] ScoBoXxX commented on #147
I noticed this several days ago.  Was hoping it would auto-resolve but I guess not.  DO you think there will be a fix for this or is GEVI going to be a bust going forward?  That would suck as it is my main agent for films :(

[2022-03-19 23:02] vampirelayer commented on #147
Experiencing the same here.
Offending title is `(Lucas Entertainment) - Cuckolds & Alpha Cocks (2022)` if you would like to test.

[2022-03-20 06:41] jocklover opened #148 "PGMA Amended Match Yielding Incorrect Matches"
I am seeing multiple issues with incorrect matches - a match is found but it is incorrect. This is occurring with both WayBig & QueerClick agents.

One example of what I am seeing is:
File name: (CorbinFisher) - Teasing Rocky (2021).mp4
WayBig site title matched: Corbin Fisher: Roman Fucks Tristan in ‘ROMANcing Tristan’
WayBig site title found but **_not_** matched: American College Sex: Rocky Tat

[2022-03-20 22:29] JPH71 commented on #141
mark as solved!

[2022-03-21 21:49] fivedays555 commented on #147
There is an easy fix for that. Just add the referer in the header, it will work.

gevi_headers['referer'] = 'https://www.gayeroticvideoindex.com/new'
scraper.headers.update(gevi_headers)

[2022-03-21 22:19] CodyBerenson commented on #148
@jocklover, @jph71 fixed the mismatching.  The agents won't return a match (correct behavior) instead of mismatching and returning a mismatch (incorrect behavior).

[2022-03-21 23:07] JPH71 commented on #147
You are a star... going to implement this now xxxxxx

On Mon, 21 Mar 2022, 22:49 fivedays555, ***@***.***> wrote:

[2022-03-22 02:23] CodyBerenson commented on #147
Huge KUDOS and THANKS @fivedays555.  GEVI is back in business!

[2022-03-22 02:56] CodyBerenson commented on #144
@jfreiman:
The most recent release of IAFD fixes this issue.  Please retest.

[2022-03-22 02:58] #141 closed

[2022-03-22 03:31] #144 closed

[2022-03-22 03:32] #147 closed

[2022-03-30 03:19] jocklover opened #151 "No Match when checking against No Duration on IAFD"
IAFD agent is not returning a match when duration is checked and there is no duration on IAFD.
Occurring for multiple titles across various studios.
_Currently working around by disabling "Check Duration" option._

Log snippet:
[code]

Thanks!

[2022-03-30 07:07] JPH71 commented on #151
I will sort this one out!

On Wed, 30 Mar 2022 at 05:19, jocklover ***@***.***> wrote:

[2022-04-05 05:47] jocklover opened #152 "Matching Issues w/ " - " in IAFD Title"
Seeing issues with matching EastBoys titles on IAFD - they contain " - " (space dash space) in the IAFD title.

When using the title as shown on IAFD, PGMA is dropping part of the title and not able to return a match. When the title is modified to (space dash), PGMA passes through the title as expected, but does not return a match as IAFD is looking for an exact match on the (space dash space).

T

[2022-04-05 09:43] JPH71 commented on #152
Thanks for highlighting this - I will sort it out!

On Tue, 5 Apr 2022 at 07:47, jocklover ***@***.***> wrote:

[2022-04-14 04:49] jfreiman commented on #97
I have this issue too.  Particularly with the single-outside quote  ’ symbol which appears more frequently in titles than I would have thought.  I have gone through my scene and feature collections and replaced all of the ’ symbols with a simple single quote ' instead -- I used the _Bulk Rename Utility_ for Windows which worked quite well.
After I did that I realized I should have searched through

[2022-04-19 21:10] JPH71 commented on #152
@jocklover
I have sorted out the issue - and tested it with the above title **(EastBoys) - Young Workers - Bareback (2018) - [Benjamin Daniels Palmer]**. Please note that as you are including the cast in the filename, you should delimit the cast names so that the resulting tiles looks like this **(EastBoys) - Young Workers - Bareback (2018) - [Benjamin Daniels, Palmer Lewis]** - note the comma bet

[2022-04-24 02:34] jfreiman opened #158 ""Fix Match" Doesn't Clear Existing Data"
I have many videos, both Scenes and Features which I have included Model Names in their Metadata -- Before discovering PGMA-M this is how ALL my videos were searchable for Studio, Model, Date, etc, but now I continue to use it - and other metadata fields for Titles which aren't in either IAFD or GEVI.
But I also use this data in other Fields not used by Plex to do searching and editing of my exten

[2022-04-24 08:18] JPH71 commented on #158
@jfreiman

Please be more specific about what these other fields are?
I do not know of any other metadata fields that are used to store actors
names etc other than the ones used by plex.
The fastest way to get the titles to match - is to take the video files out
of the library, run a scan against the same library, then put all the
videos back in.
This will force Plex to do a full refresh, sorting

[2022-04-25 19:46] #151 closed

[2022-04-25 19:49] #152 closed

[2022-04-25 19:55] CodyBerenson commented on #158
"The fastest way to get the titles to match - is to take the video files out of the library, run a scan against the same library, then put all the videos back in. This will force Plex to do a full refresh, sorting your issue out. "

@jfreiman in case you aren't familiar, Jason is referring to The Plex Dance.  There's much written about it in the Plex Forums.  Here are the specific official steps:

[2022-04-25 21:24] JPH71 commented on #158
Correct!!!!! Xxx

On Mon, 25 Apr 2022, 21:55 Cody Berenson, ***@***.***> wrote:

[2022-04-27 01:25] jfreiman commented on #158
Thanks for this tip. I tried it last night and worked as you stated – saved me some time.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: Cody ***@***.***>
Sent: Monday, April 25, 2022 12:55 PM
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [CodyBerenson/PGMA-Modernized] "Fix Match" Doesn't Clear Existing Data (Issue #158)

"The fastest way to get t

[2022-04-27 03:28] jocklover commented on #152
I have tested the impacted cases and the issue is resolved. I have not done a deep dive on collateral testing. I will follow up if I do find anything.
Thanks again for the work on this.

[2022-04-27 03:28] jocklover commented on #151
Thank you, looks good on my side.

[2022-05-06 01:31] j-ktz opened #161 "Thumbor Update?"
It seems  like  posters have stopped  fetching.  Do we have to update Thumbor?

[2022-05-06 19:48] CodyBerenson commented on #161
@j-ktz it is our 90 day anniversary (again)....what did you get me???

Here's the new Thumbor address:  http://35.199.37.186:8888/unsafe

Please manually update your scenes agents settings:

![image](https://user-images.githubusercontent.com/40373801/167206988-fe3d2242-baab-48c1-84af-b9c7a75c1ba0.png)

@jph71 Please update the four scenes agents.  If you'd like to me quickly do it and push to the

[2022-05-06 19:49] j-ktz commented on #161
I'd happily get you  a coffee every 90 days if it means poster art. :) THANK YOU CODY

[2022-05-06 19:57] CodyBerenson commented on #161
Deal....if by coffee you mean barrel aged from Kentucky.

[2022-05-06 21:38] j-ktz commented on #161
I was thinking a Sbux email gift card, but your idea sounds way better.

[2022-05-06 21:38] #161 closed

[2022-05-09 07:58] jfreiman opened #162 "IAFD ignoring Length and matches Film to Scene (same title)"
For some reason video length settings aren't being honored and/or the production Year is being skipped over?

The movie I'm having issues with tonight is Men.com's, (The) Cock Stop 2022
This is a film that also has a scene with the same name from the previous year (the movie is created with scenes CS, CS2 & CS3)

Cock Stop Film (2022) [https://www.iafd.com/title.rme/title=cock+stop/year=2022/cock_

[2022-05-09 14:20] JPH71 commented on #162
I have just matched it today..
We have a power cut at the moment...
I named it as follows
(MEN) - The Cock Stop (2022)

You do not need the .com and the folm has a THE in front of it

Jason

On Mon, 9 May 2022, 09:59 jfreiman, ***@***.***> wrote:

[2022-05-10 01:25] jfreiman commented on #162
Interesting, one of the filename permeations I used yesterday was, "(Men.com) - The Cock Stop (2022).mp4" and that didn't work.

So, I renamed the file as you referenced and it still isn't matching with the movie - still the scene.  However, just like my other attempts yesterday, adding "The" to the filename somehow breaks something and the Director is throwing up garbage and the background art sh

[2022-05-10 01:52] jfreiman commented on #162
Update: I used the same file name (no changes) and used the PGMA profile which matches to GEVI before IAFD.
This did match the Film title properly but did not correct the Director's garbage.
[https://www.gayeroticvideoindex.com/video/68531](url)

[2022-05-10 03:08] JPH71 commented on #162
I got the garbage too with the director...
I have sorted that bit out...
Looking at sorting the matching out so it picks the movie rather than the
scene..
Could you send a screen shot of your preferences for duration matching etc
for GEVI

On Tue, 10 May 2022, 03:52 jfreiman, ***@***.***> wrote:

[2022-05-10 03:22] jfreiman commented on #162
Thanks for continuing to work on this issue.

The Preferences are the same for both -  6/4 (see image below)  Let me know if you think accuracy could be improved if I lower or raise the length -- I trim credits/warning from all Films (can't be bothered with the Scenes)

<img width="324" alt="image" src="https://user-images.githubusercontent.com/10014964/167536120-b453b11c-ad3f-4cbc-9121-b4032b1fd4

[2022-05-10 03:31] jfreiman opened #163 "Cast Legend Doesn't Always Get Downloaded with Matches"
I have the "Cast Legend" checked to always be at the start of Summary - so I can verify matches in both Film and Scene Detail View.

The trouble is, that even when matched with IAFD and others, the Legend doesn't always download (I like the 👍, etc).

Here is one recent example (out of too many) which matched IAFD, downloaded all the expected content, but didn't download/add the Legend Bar to the S

[2022-05-10 03:54] jfreiman opened #164 "Previously downloaded Cast Image Disappearing"
I have a large collection of both Scenes and Films (each in their Own Plex Collection) and Cast images which download properly at the time of adding them to their respective Collection, at a later date the images are no longer showing.
I know that it can sometimes take longer for images to get pulled from the database and display later, but the issue I'm having is that they never load and I have t

[2022-05-10 10:28] JPH71 commented on #164
Hi,

I have improved the retrieval and searching for performers and directors
within the utils.py code, which is standard for all the agents.

After a refresh, you will sometimes see that it has managed to get the
performers pictures, roles etc which it hadn't before. IAFD has changed its
xpath for some fields over the past year and I have worked on the code to
make it neater and cleaner. So this

[2022-05-10 10:46] JPH71 commented on #163
I am going to look at this one - let me know exactly how you named it on
disk and I will test it out and see what is happening. There was a time
back when I had an error in the legend code - it did not always work...
when you refresh this film does the legend re-appear?
I like this detailed view - I think I am going to start using it more...I
also prefer the legend at the top...

On Tue, 10 May 20

[2022-05-10 11:02] JPH71 commented on #164
on this note have you looked at this
https://support.plex.tv/articles/201424327-why-do-i-get-metadata-but-no-images-for-my-library-items/

On Tue, 10 May 2022 at 12:37, Jason Hudson ***@***.***> wrote:

[2022-05-11 00:45] jfreiman commented on #163
Top is always preferred.... But not necessary. 🤣

Refreshing does not add the legend.

I need to unmatch, clear Plex database and match again.

After that, the legend is added.

One thing I did with the first 12,000 (not joking) videos was to manually copy and paste the description into every scene and film -- before I discovered PGMA.
That was and ifi great and still great if metadata doesn't mat

[2022-05-11 01:00] jfreiman commented on #163
Photos edited.

Sent from my T-Mobile 5G Device (yeah, T-Mobile's Internet is really fast)
Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: John Freiman ***@***.***>
Sent: Tuesday, May 10, 2022 5:45:21 PM
To: CodyBerenson/PGMA-Modernized ***@***.***>; CodyBerenson/PGMA-Modernized ***@***.***>
Cc: Mention ***@***.***>
Subject: Re: [CodyBerenson/PGMA-Modernized]

[2022-05-11 01:02] jfreiman commented on #163
noted and images replaced.

[2022-05-11 01:05] jfreiman commented on #164
Yes, I have looked at his link and I will make sure the listed sites are on my whitelist --- but since the images do download initally and return when refreshed, would this really be an issue?
Also, I am wrong in assuning that the Cast images are stored locally on my Plex Server?

[2022-05-13 00:15] JPH71 commented on #163
Checked the missing legend and this works... maybe you are using an old
version of the Agent?? I used a standard video file - so do not worry about
the length...
[image: image.png]

On Wed, 11 May 2022 at 02:02, jfreiman ***@***.***> wrote:

[2022-05-13 00:21] jfreiman commented on #163
Well, for many of my videos added over the past year or more, they certainly were old versions of PGMA
I hate to refresh videos if I don't have to because I then have to change the background artwork from the PGMA back cover and/or the thumbnail page.
I MUCH PREFER the default thumbnail that Plex generates.

Sent from my T-Mobile 5G Device (yeah, T-Mobile's Internet is really fast)
Get Outlook for

[2022-05-13 00:23] jfreiman commented on #164
Oh wow, thanks for pointing it the XML link! I don't think I ever noticed that before.
I'll have to checkn it out when I get back home from my trip.

Sent from my T-Mobile 5G Device (yeah, T-Mobile's Internet is really fast)
Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Cody Berenson ***@***.***>
Sent: Wednesday, May 11, 2022 6:42:48 AM
To: CodyBerenson/PGM

[2022-05-13 02:44] JPH71 commented on #163
Checked this - code works for the film title mentioned.
send me a list of other movies to confirm that the code is working.

[2022-05-13 02:45] JPH71 commented on #162
Nearly done!

[2022-05-14 01:26] jocklover commented on #135
Appears the fix for this issue was included in one of the recent updates.
THANK YOU

[2022-05-14 01:26] #135 closed

[2022-05-16 15:16] CodyBerenson commented on #137
@jocklover Good morning, @JPH71 Created fixes to this issue.  If you'd like to, we encourage you to test the fixes.  You can find the fixes in a separate branch of code for this repository called ReleaseTesting.  From the Code tab, change the branch from Master to ReleaseTesting, download and install the agents and restart PMS just like you would for any release.  At any time, you can switch the d

[2022-05-16 22:22] JPH71 commented on #97
Is this still an Issue??

I thought I had sorted this out well over a year ago... unless i reversed it by mistake...

Please confirm as I will be working on all the agents in turn to cater for the new code put into utils.py

[2022-05-17 12:10] CodyBerenson commented on #158
@jfreiman Please close this issue if resolved.  Thanks

[2022-05-17 12:10] CodyBerenson commented on #164
@jfreiman Please close this issue if resolved.  Thanks

[2022-05-17 12:12] CodyBerenson commented on #163
@jfreiman Closing this issue.  If this issue persists, please open a new issue using the BUG template, and provide all information requested (e.g., site URL(s), upload logs, etc.).  Thanks

[2022-05-17 12:12] #163 closed

[2022-05-22 05:17] jocklover commented on #137
It appears that this is working correctly. Logs are accurately reporting Studio & IAFDStudio.

I can move this to a different issue thread, but the issue I am seeing is that titles are not matching to WayBig if only the scene title is used and not the WayBig blog article title. I only get the IAFD match. I thought this was working previously but not sure where it might have changed (or what the in

[2022-05-22 09:27] JPH71 commented on #137
The agent always matches the waybig blog title... This has always been the
case.

If you look through the issues and the read me notes that Cody has you will
see that time and time again he has mentioned that you copy the waybig
blog title and rename the file exactly by replacing the colon with a space
dash space, and brackets around the studio and use the year of the date of
the blog article...

[2022-05-23 00:57] #162 closed

[2022-05-23 00:57] #137 closed

[2022-05-23 00:58] #164 closed

[2022-05-23 00:58] #158 closed

[2022-05-25 13:58] joca879 opened #169 "Collection by country not being created"
Hello everyone, I hope you are well.

I had to redo my xxx library and I'm using the collections feature.

I've detected, at least for the AEBN agent, that he is not creating the collection for the country of production, although the respective field has the data inscribed and the option for creating the collection enabled in the agent settings.

For studios, series, directors and genres, collecti

[2022-05-25 14:27] JPH71 commented on #169
I will sort this out...

On Wed, 25 May 2022, 15:58 joca879, ***@***.***> wrote:

[2022-05-25 14:41] joca879 commented on #169
Thanks @JPH71

I´m not sure if it happens also with the other agents, like GEVI or GayDVDEmpire. I only use this ones when the title is not in AEBN.

Another thing I remembered. If I want to add or remove another type of collection in the agents settings, do I need to eliminate and redo the all library again? I remember that I had not selected the collection for director in the agents settings, an

[2022-05-27 05:52] jocklover opened #171 "[BUG]: Cast List Not Populating Correctly from IAFD Match"
Seeing an issue where an IAFD match is not returning correct cast info. Seeing "catch phrases" instead of cast names.

File Name: (Active Duty) - Below Deck (2007) - [Adam Wells, Kaden Saylor, Levi]
**NOTE:** Due to this failure, I attempted manual cast listing, which also failed, opening separate bug for this.
URL: https://www.iafd.com/title.rme/title=below+deck/year=2007/below-deck.htm
(Also occ

[2022-05-27 06:02] jocklover opened #172 "[BUG]: Manual Cast List in Filename Not Functioning"
When adding Cast List to filename, it does not show in Plex.

File Name: (Active Duty) - Below Deck (2007) - [Adam Wells, Kaden Saylor, Levi]
I did also test the cast list on another filename and it still showed the IAFD cast list instead of the manual list.

IAFD Agent Log:
[Manual Cast List not Working.txt](https://github.com/CodyBerenson/PGMA-Modernized/files/8784293/Manual.Cast.List.not.Workin

[2022-05-27 08:37] JPH71 commented on #172
What agent are you using to scrape?

[2022-05-28 05:19] jocklover commented on #172
Both test were done w/ results returned via IAFD using Scenes.

[2022-05-28 13:28] JPH71 commented on #172
Cheers...
Now iafd works slightly different because if it finds the film it will also
get the cast... so there is no need to have the cast appended to the file
name..
But I will add the code in to do this properly... this us an exercise that
will affect all the agents....

On Sat, 28 May 2022, 07:20 jocklover, ***@***.***> wrote:

[2022-05-29 01:57] jocklover commented on #172
If IAFD works differently, I totally understand. The only reason I was even trying to utilize this was because of #171 - maybe that should be more of the focus and then this won't be as much of an issue.
... However, I do see a use case where if I only have one scene of a movie, this could allows the cast list to be limited to just that of the scene vs all of the scenes.

[2022-05-30 14:00] JPH71 commented on #171
Which agent are you using - this can not be IAFD, is it fagalicious, queerclick or another scene agent?

[2022-06-04 03:52] jocklover commented on #171
This is IAFD, see log in original post. Cheers

[2022-06-04 04:25] JPH71 commented on #171
I have yet to get to iafd...
I have done 5 so far

On Sat, 4 Jun 2022, 05:52 jocklover, ***@***.***> wrote:

[2022-06-05 04:17] jocklover commented on #171
I think I have confuddle things w/ 2 similar bugs open - this is a bug where the IAFD downloaded cast list is not populating correctly. This isn't related to the manual cast list in title.

[2022-06-05 05:22] jocklover opened #175 "[BUG]: GayHotMovies search may require capitalization"
It appears that site GayHotMovies may require correct capitalization to return search results for some titles.

Title: (Active Duty Productions;Active Duty) - Fraternizing Forces 2 (2012) - Scene 1
Site: https://www.gayhotmovies.com/video/224492/Fraternizing-Forces-2/

Log: [com.plexapp.agents.GayHotMovies.log](https://github.com/CodyBerenson/PGMA-Modernized/files/8839336/com.plexapp.agents.GayHot